.idea
vendor
node_modules
logs/*
!logs/readme.txt
img/avatars/*
!img/avatars/ai.png
!img/avatars/demetrios.png
!img/avatars/duroth.png
!img/avatars/gilgamesh.png
!img/avatars/grofgul.png
!img/avatars/marquis.png
!img/avatars/myr.png
!img/avatars/noavatar.jpg
!img/avatars/sophie.png
img/concepts/*
!img/concepts/blank.jpg
templates/pages/*
!templates/pages/credits.xml
!templates/pages/faq.xml
!templates/pages/history.xml
!templates/pages/main.xml
!templates/pages/modified.xml
!templates/pages/news.xml
!templates/pages/page.xsd
!templates/pages/template.xml
src/config_production.php
