# deny everything that's not allowed
order allow,deny

# allow base dir
<Files ".">
allow from all
</Files>

# all the permitted entry points
<Files ~ "^(index\.php|AJAXhandler\.php|fail\.php)$">
allow from all
</Files>

# various browser-related file extensions
<Files ~ "\.(html|css|js||jpg|jpeg|gif|png|ico)$">
allow from all
</Files>

# crawler access restrictions
<Files "robots.txt">
allow from all
</Files>

# redirect blind favicon requests to the right location
<Files "favicon.ico">
RewriteEngine On
RewriteRule .* '/img/favicon-ie.ico' [L]
</Files>

# compression of text
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifmodule>
