# deny everything that's not allowed
order allow,deny

# allow base dir
<Files ".">
allow from all
</Files>

# also need to allow index file
<Files "index.php">
allow from all
</Files>

# allow ajax handler
<Files "AJAXhandler.php">
allow from all
</Files>

# allow files for the browser
<Files ~ "\.(html|css|js||jpg|jpeg|gif|png|ico)$">
allow from all
</Files>

# allow robots.txt
<Files "robots.txt">
allow from all
</Files>

# redirect blind favicon requests to the right location
<Files "favicon.ico">
RewriteEngine On
RewriteRule .* '/img/favicon-ie.ico' [L]
</Files>


# compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
