/*********************************************************
 * MArcomage CSS stylesheet - skins - dark skin template *
 *********************************************************/

/* text element layout */
.skin-text {
    color: #cccccc; /* light gray */
}

/* label element layout */
.skin_label {
    background-repeat: repeat;
    color: #cccccc; /* light gray */
}

/* border layout */
.skin-text, .skin-label, img.achievement {
    border: 2px outset #cccccc;
    border-radius: 6px;
}

/* general background layout */
html {
    background-repeat: repeat;
    color: #cccccc; /* light gray */
}

/* navigation bar layout */
div#menu-bar {
    background-repeat: repeat;
}

/* login box layout */
div#login-box {
    background-repeat: repeat;
    border: 2px outset #cccccc;
    border-radius: 6px;
}

/* input text fields */
input, button, textarea, a.button, .disabled-button {
    background-color: #dddddd; /* very light gray */
}

/* new message */
.new_message {
    color: red;
}

/* unread message */
.unread {
    color: orange;
}

/* system message */
.system_message {
    color: #6495ed; /* light blue */
}

/* submit input layout */
button, a.button:link, a.button:visited {
    color: #dddddd; /* very light gray */
}

/* disabled submit input */
button[disabled] {
    color: gray;
}

/* information message layout */
.info {
    color: lime;
}

/* warning message layout */
.warning {
    color: yellow;
}

/* error message layout */
.error {
    color: red;
}

/* information label used in multiple instances in game section */
p.info-label {
    color: #dddddd; /* very light gray */
}

p.info-label .opponent {
    color: #ff69b4; /* hot pink */
}

/* token counter layout */
.token-counter {
    color: #dddddd; /* very light gray */
}

.player {
    color: lime;
}

/* chat box window */
div.chat-box {
    color: #dddddd; /* very light gray */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    color: #dddddd; /* very light gray */
}

.chat-box-player {
    color: #add8e6; /* light blue */
}

.chat-box-opponent {
    color: #90ee90; /* light green */
}

.chat-box-system {
    color: red;
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    border: 2px outset #cccccc;
    color: #cccccc; /* light gray */
}

/* bricks */
.cost-per-turn > b:first-child {
    color: #bc8f8f; /* RosyBrown */
}

/* gems */
.cost-per-turn > b:first-child + b {
    color: #00bfff; /* DeepSkyBlue */
}

/* recruits */
.cost-per-turn > b:first-child + b + b {
    color: #8fbc8f; /* DarkSeaGreen */
}

/* avatar and zodiac text color */
div.details_float_right p {
    color: lime;
}

/* player's detail attribute color */
.detail_value {
    color: lime;
}

/* exp progress bar */
div.exp-progress-bar {
    background-color: gray;
}

/* quote text layout */
blockquote > div {
    border: thin solid #cccccc; /* light gray */
}

/* modal dialog styles */
[role="dialog"].modal .modal-content {
    background-color: #111111;
    color: #eeeeee;
}

[role="dialog"].modal button[name="close-modal"] {
    color: #ffffff;
}
