/*********************************************************
 * MArcomage CSS stylesheet - skins - dark skin template *
 *********************************************************/

@import url("../../javascript/jquery/dark/jquery_ui_dark.css"); /* import JQuery dark skin */

.skin_text /* text element layout */
{
	color: #cccccc; /* light gray */
}

.skin_label /* label element layout */
{
	background-repeat: repeat;
	color: #cccccc; /* light gray */
}

.skin_text, .skin_label, img.achievement /* border layout */
{
	border: 2px outset #cccccc;
	-moz-border-radius: 7px;
}

html /* general background layout */
{
	background-repeat: repeat;
	color: #cccccc; /* light gray */
}

div#menubar /* navigation bar layout */
{
	background-repeat: repeat;
}

div#login_box /* login box layout */
{
	background-repeat: repeat;
	border: 2px outset #cccccc;
	-moz-border-radius: 7px;
}

input, button, textarea, a.button, .disabled /* input text fields */
{
	background-color: #dddddd; /* very light gray */
}

.new_message /* new message */
{
	color: red;
	font-weight: bold;
}

.unread /* unread message */
{
	color: orange;
	font-weight: bold;
}

.system_message /* system message */
{
	color: #6495ed; /* light blue */
	font-weight: bold;
}

button, a.button:link, a.button:visited /* submit input layout */
{
	color: #dddddd; /* very light gray */
}

button[disabled] /* disabled submit input */
{
	color: gray;
}

.info /* information message layout */
{
	color: lime;
}

.warning /* warning message layout */
{
	color: yellow;
}

.error /* error message layout */
{
	color: red;
}

.p_online /* online player layout */
{
	color: lime;
}

.p_offline /* offline player layout */
{
	color: red;
}

.p_inactive /* inactive player layout */
{
	color: maroon;
}

.p_dead /* dead player layout */
{
	color: gray;
}

p.info_label /* information label used in multiple instances in game section */
{
	color: #dddddd; /* very light gray */
}

.player
{
	color: lime;
}

p.info_label .opponent
{
	color: #ff69b4; /* hot pink */
}

p.token_counter /* token counter layout */
{
	color: #dddddd; /* very light gray */
}

div.chatbox /* chatbox window */
{
	color: #dddddd; /* very light gray */
}

p.flag, span.newcard /* new card flag (indicated above a new card) */
{
	color: #dddddd; /* very light gray */
}

div#game .chatbox_player
{
	color: #add8e6; /* light blue */
}

div#game .chatbox_opponent
{
	color: #90ee90; /* light green */
}

div#game .chatbox_system
{
	color: red;
}

div#game div.chatbox > p > span:first-child /* date-time info in chatbox */
{
	color : rgb(219,142,179); /* light pink */
}

div#cost_per_turn, p.deck_stats /* avg cost per turn indicator layout */
{
	border: 2px outset #cccccc;
	color: #cccccc; /* light gray */
}

div#cost_per_turn > b:first-child /* bricks */
{
	color: #bc8f8f; /* RosyBrown */
}

div#cost_per_turn > b:first-child + b /* gems */
{
	color: #00bfff; /* DeepSkyBlue */
}

div#cost_per_turn > b:first-child + b + b /* recruits */
{
	color: #8fbc8f; /* DarkSeaGreen */
}

div.details_float_right p /* avatar and zodiac text color */
{
	color: lime;
}

.detail_value /* player's detail attribute color */
{
	color: lime;
}

div.progress_bar /* exp progress bar */
{
	background-color: gray;
}

blockquote > div /* quote text layout */
{
	border: thin solid #cccccc; /* light gray */
}
