/**********************************************************
 * MArcomage CSS stylesheet - skins - light skin template *
 **********************************************************/

@import url("../../javascript/jquery/light/jquery_ui.css"); /* import JQuery light skin */

.skin_label /* label element layout */
{
	background-repeat: repeat;
}

.skin_text, .skin_label, img.achievement /* border layout */
{
	border: 2px outset black;
	-moz-border-radius: 7px;
}

html /* general background layout */
{
	background-repeat: repeat;
}

div#menubar /* navigation bar layout */
{
	background-repeat: repeat;
}

div#login_box /* login box layout */
{
	background-repeat: repeat;
	border: 2px outset black;
	-moz-border-radius: 7px;
}

hr /* horizontal line layout */
{
	border-color: black;
}

.new_message /* new message */
{
	color: red;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.unread /* unread message */
{
	color: orange;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.system_message /* system message */
{
	color: #6495ed; /* light blue */
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

button, a.button, .disabled /* submit input layout */
{
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

button[disabled] /* disabled submit input */
{
	color: gray;
}

.info /* information message layout */
{
	color: green;
}

.warning /* warning message layout */
{
	color: purple;
}

.error /* error message layout */
{
	color: red;
}

.p_online /* online player layout */
{
	color: green;
}

.p_offline /* offline player layout */
{
	color: red;
}

.p_inactive /* inactive player layout */
{
	color: maroon;
}

.p_dead /* dead player layout */
{
	color: gray;
}

.player
{
	color: green;
}

p.info_label .opponent
{
	color: red;
}

div#game .chatbox_player
{
	color: green;
}

div#game .chatbox_opponent
{
	color: purple;
}

div#game .chatbox_system
{
	color: red;
}

div.chatbox > p > span:first-child /* date-time info in chatbox */
{
	color: blue;
}

div#cost_per_turn, p.deck_stats /* avg cost per turn indicator layout */
{
	border: 2px outset black;
	color: black;
}

div#cost_per_turn > b:first-child /* bricks */
{
	color: red;
}

div#cost_per_turn > b:first-child + b /* gems */
{
	color: blue;
}

div#cost_per_turn > b:first-child + b + b /* recruits */
{
	color: green;
}

div.details_float_right p /* avatar and zodiac text color */
{
	color: green;
}

.detail_value /* player's detail attribute color */
{
	color: green;
}

div.progress_bar /* exp progress bar */
{
	background-color: #dddddd; /* light gray */
}

blockquote > div /* quote text layout */
{
	border: thin solid black;
	color: black;
	background-color: #fefefe; /* very light gray */
}
