/**********************************************************
 * MArcomage CSS stylesheet - skins - light skin template *
 **********************************************************/

/* label element layout */
.skin-label {
    background-repeat: repeat;
}

/* border layout */
.skin-text, .skin-label, img.achievement {
    border: 2px outset black;
    border-radius: 6px;
}

/* general background layout */
html {
    background-repeat: repeat;
}

/* navigation bar layout */
.inner-navbar {
    background-repeat: repeat;
}

/* login box layout */
div#login-box {
    background-repeat: repeat;
    border: 2px outset black;
    border-radius: 6px;
}

/* horizontal line layout */
hr {
    border-color: black;
}

/* new message */
.new_message {
    color: red;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* unread message */
.unread {
    color: orange;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* system message */
.system_message {
    color: #6495ed; /* light blue */
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* submit input layout */
button, a.button, .disabled-button {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* disabled submit input */
button[disabled] {
    color: gray;
}

/* information message layout */
.info {
    color: green;
}

/* warning message layout */
.warning {
    color: purple;
}

/* error message layout */
.error {
    color: red;
}

.player {
    color: green;
}

p.info-label .opponent {
    color: red;
}

.chat-box-player {
    color: green;
}

.chat-box-opponent {
    color: purple;
}

.chat-box-system {
    color: red;
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    border: 2px outset black;
    color: black;
}

/* bricks */
.cost-per-turn > b:first-child {
    color: red;
}

/* gems */
.cost-per-turn > b:first-child + b {
    color: blue;
}

/* recruits */
.cost-per-turn > b:first-child + b + b {
    color: green;
}

/* avatar and zodiac text color */
div.details_float_right p {
    color: green;
}

/* player's detail attribute color */
.detail_value {
    color: green;
}

/* exp progress bar */
div.exp-progress-bar {
    background-color: #dddddd; /* light gray */
}

/* quote text layout */
blockquote > div {
    border: thin solid black;
    color: black;
    background-color: #fefefe; /* very light gray */
}
