/************************************************
 * MArcomage CSS stylesheet - skins - old theme *
 ************************************************/
/* import dark skin template */
@import url('dark.css');

/* text element layout */
.skin-text {
    background-color: rgb(40, 40, 65); /* dark blue */
    color: white;
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/old_label.jpg');
    color: white;
}

/* border layout */
.skin-text, .skin-label {
    border: thin solid yellow;
}

/* general background layout */
html {
    background-color: black;
    color: white;
}

/* navigation bar layout */
.inner-navbar {
    background-color: black;
    color: lime;
}

/* login box layout */
.outer-navbar {
    background-image: url('../../img/skins/old_label.jpg');
}

/* horizontal line layout */
hr {
    color: yellow;
    border-style: inset; /* override */
}

/* unvisited link */
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: #ee82ee; /* purple */
}

/* highlight table row */
.table-row:hover {
    background-color: rgb(80, 80, 80); /* gray */
    color: white;
}

/* heading layout */
h2, h3, h4, h5 {
    color: #ffff66; /* sandy yellow */
}

/* submit input layout */
button, a.button {
    background-color: black;
    border-color: #6495ed; /* light blue */
    color: #ffff66; /* sandy yellow */
}

/* disabled hyperlink button */
.disabled-button {
    background-color: black;
    border-color: #6495ed; /* light blue */
}

/* disabled submit input */
button[disabled] {
    color: gray;
}

a.button:link, a.button:visited {
    color: #ffff66; /* sandy yellow */
}

/* highlighted button */
button.marked_button, a.marked_button:link, a.marked_button:visited, .interactive-menu button:hover, .interactive-menu .button:hover {
    background-color: yellow;
    color: black;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed;
    background-color: black;
    color: white;
    font-weight: normal;
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed;
    background-color: black;
    color: white;
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed;
    background-color: rgb(40, 40, 65); /* dark blue */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    background-color: rgb(40, 40, 65); /* dark blue */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: rgb(40, 40, 65); /* dark blue */
}

/* backwards compatibility hacks start here */

div.forum .skin-text {
    border-style: none;
}

div.forum .skin-label {
    border: 3px ridge #6495ed; /* light blue */
}

/* forum title layout */
div.forum > h3 {
    color: #6699ff; /* light blue */
}

/* forum table layout */
div.forum table {
    border: 3px ridge #6495ed; /* light blue */
    background-color: #050529; /* very dark blue */
}

div.forum button {
    border: 1px outset lime;
    padding: 0.4ex 1.2ex 0.4ex 1.2ex;
}

div.forum th > p {
    color: #f4a460; /* salmon brown */
}

div.game .card-flag {
    color: orange;
    margin: 1ex 0 1ex 0;
    border: ridge white;
    background-color: black;
    font-size: x-small;
    width: 88px;
}

div.game select {
    font-size: small;
    color: yellow;
    background-color: black;
    border: 2px outset #6495ed; /* light blue */
    vertical-align: middle;
    text-shadow: none;
}
