/******************************************************
 * MArcomage CSS stylesheet - skins - halloween theme *
 ******************************************************/
/* import dark skin template */
@import url('dark.css');

/* text element layout */
.skin-text {
    background-color: #2b2b2b; /* light black */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/halloween_label.jpg');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_halloween.jpg');
}

/* navigation bar layout */
.inner-navbar {
    background-image: url('../../img/skins/halloween_label.jpg');
}

/* login box layout */
div#login-box {
    background-image: url('../../img/skins/halloween_label.jpg');
}

/* horizontal line layout */
hr {
    border-color: #cccccc; /* light gray */
}

/* unvisited link */
a:link {
    color: #ff6a00; /* dark orange */
}

/* visited link */
a:visited {
    color: #c14114; /* orange brown */
}

/* highlight table row */
.table-row:hover {
    background-color: #ad4800; /* medium orange */
}

/* heading layout */
h2, h3, h4, h5 {
    color: #e25109; /* orange red */
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* submit input layout */
button, a.button, .disabled-button {
    background-color: #2b2b2b; /* light black */
    border-color: gray;
}

/* highlighted button */
button.marked_button, a.marked_button, .top-navigation-bar button:hover, .top-navigation-bar .button:hover {
    background-color: #d85600; /* dark red */
}

/* information message layout */
.info {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* warning message layout */
.warning {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* error message layout */
.error {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed; /* light blue */
    background-color: #2b2b2b; /* light black */
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed; /* light blue */
    background-color: #2b2b2b; /* light black */
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed; /* light blue */
    background-color: #2b2b2b; /* light black */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    background-color: #2b2b2b; /* light black */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: #2b2b2b; /* light black */
}
