/******************************************************
 * MArcomage CSS stylesheet - skins - dark blue theme *
 ******************************************************/
@import url('dark.css'); /* import dark skin template */

/* text element layout */
.skin-text {
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/dblue_label.gif');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_dblue.jpg');
}

/* navigation bar layout */
.inner-navbar {
    background-image: url('../../img/skins/dblue_label.gif');
}

/* login box layout */
.outer-navbar {
    background-image: url('../../img/skins/dblue_label.gif');
}

/* horizontal line layout */
hr {
    border-color: #cccccc; /* light gray */
}

/* unvisited link */
a:link {
    color: #87cefa; /* light sky blue */
}

/* visited link */
a:visited {
    color: #6495ed; /* light blue */
}

/* highlight table row */
.table-row:hover {
    background-color: #6495ed; /* light blue */
    color: black;
}

/* heading layout */
h2, h3, h4, h5 {
    color: #6495ed; /* light blue */
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* submit input layout */
button, a.button, .disabled-button {
    background-color: rgb(70, 70, 100); /* dark blue */
    border-color: #191970; /* midnight blue */
}

/* highlighted button */
button.marked_button, a.marked_button, .interactive-menu button:hover, .interactive-menu .button:hover {
    background-color: green;
}

/* information message layout */
.info {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* warning message layout */
.warning {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* error message layout */
.error {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed;
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed;
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed;
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: rgb(50, 50, 75); /* dark blue */
}
