/*************************************************
 * MArcomage CSS stylesheet - skins - rain theme *
 *************************************************/
/* import light skin template */
@import url('light.css');

/* text element layout */
.skin-text {
    background-color: rgb(191, 223, 255); /* light blue */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/rain.gif');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_gray.jpg');
}

/* navigation bar layout */
.inner-navbar {
    background-image: url('../../img/skins/rain.gif');
}

/* login box layout */
div#login-box {
    background-image: url('../../img/skins/rain.gif');
}

/* highlight table row */
.table-row:hover {
    background-color: #6495ed; /* light blue */
    color: black;
}

/* heading layout */
h2, h3, h4, h5 {
    color: rgb(91, 101, 223); /* medium blue */
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* submit input layout */
button, a.button, .disabled-button {
    background-color: #6495ed; /* light blue */
    border-color: #6495ed; /* light blue */
}

/* highlighted button */
button.marked_button, a.marked_button, .top-navigation-bar button:hover, .top-navigation-bar .button:hover {
    background-color: rgb(5, 204, 0); /* medium green */
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed;
    background-color: rgb(191, 223, 255); /* light blue */
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed;
    background-color: rgb(191, 223, 255); /* light blue */
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed;
    background-color: rgb(191, 223, 255); /* light blue */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    background-color: rgb(191, 223, 255); /* light blue */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: rgb(191, 223, 255); /* light blue */
}
