/*************************************************
 * MArcomage CSS stylesheet - skins - blue theme *
 *************************************************/

.skin_text /* text element layout */
{
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

.skin_label /* label element layout */
{
	background-image: url('../../img/skins/blue_label.gif');
	background-repeat: repeat;
}

.skin_text, .skin_label /* border layout */
{
	border: 2px outset black;
	-moz-border-radius: 7px;
}

html /* general background layout */
{
	background-image: url('../../img/skins/bg_blue.gif');
	background-repeat: repeat;
}

div#menubar /* navigation bar layout */
{
	background-image: url('../../img/skins/blue_label.gif');
	background-repeat: repeat;
}

div#login_box /* login box layout */
{
	background-image: url('../../img/skins/blue_label.gif');
	background-repeat: repeat;
	border: 2px outset black;
	-moz-border-radius: 7px;
}

hr /* horizontal line layout */
{
	border-color: black;
}

tr.table_row:hover /* highlight table row */
{
	background-color: rgb(205,206,255); /* light purple */
}

h2,h3,h4,h5 /* heading layout */
{
	color: rgb(150,120, 167); /* light purple */
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.new_message /* new message */
{
	color: red;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.unread /* unread message */
{
	color: orange;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

.system_message /* system message */
{
	color: #6495ed; /* light blue */
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

input[type="submit"] /* submit input layout */
{
	background-color: rgb(150,138, 255); /* light purple */
	border-color: rgb(205,206,255); /* light purple */
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

input.marked_button /* highlighted button */
{
	background-color: green;
}

.info /* information message layout */
{
	color: green;
}

.warning /* warning message layout */
{
	color: purple;
}

.error /* error message layout */
{
	color: red;
}

.p_online /* online player layout */
{
	color: green;
}

.p_offline /* offline player layout */
{
	color: red;
}

.p_inactive /* inactive player layout */
{
	color: maroon;
}

.p_dead /* dead player layout */
{
	color: gray;
}

p.info_label /* information label used in multiple instances in game section */
{
	border: medium ridge rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

.online /* highlight player name if he is online */
{
	color: green;
}

p.token_counter /* token counter layout */
{
	border: thin solid rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

div.chatbox /* chatbox window */
{
	border: medium ridge rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}
