/**************************************************
 * MArcomage CSS stylesheet - skins - green theme *
 **************************************************/
/* import dark skin template */
@import url('dark.css');

/* text element layout */
.skin-text {
    background-color: rgb(39, 73, 45); /* dark green */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/green_label.jpg');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_green.jpg');
}

/* navigation bar layout */
.inner-navbar {
    background-image: url('../../img/skins/green_label.jpg');
}

/* login box layout */
div#login-box {
    background-image: url('../../img/skins/green_label.jpg');
}

/* horizontal line layout */
hr {
    border-color: #eeeeee; /* very light gray */
}

/* unvisited link */
a:link {
    color: rgb(74, 230, 83); /* light green */
}

/* visited link */
a:visited {
    color: rgb(46, 200, 105); /* medium green */
}

/* highlight table row */
.table-row:hover {
    background-color: green;
}

/* heading layout */
h2, h3, h4, h5 {
    color: #dddddd; /* light gray */
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* new message */
.new_message {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* unread message */
.unread {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* system message */
.system_message {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* submit input layout */
button, a.button, .disabled-button {
    background-color: green;
    border-color: rgb(39, 73, 45); /* dark green */
}

/* highlighted button */
button.marked_button, a.marked_button:link, a.marked_button:visited, .top-navigation-bar button:hover, .top-navigation-bar .button:hover {
    background-color: #6495ed; /* light blue */
    color: black;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge green;
    background-color: rgb(39, 73, 45); /* dark green */
}

/* token counter layout */
p.token-counter {
    border: thin solid green;
    background-color: rgb(39, 73, 45); /* dark green */
}

/* chat box window */
div.chat-box {
    border: medium ridge green;
    background-color: rgb(39, 73, 45); /* dark green */
}

/* new card flag (indicated above a new card) */
p.card-flag, span.new-card {
    background-color: rgb(39, 73, 45); /* dark green */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: rgb(39, 73, 45); /* dark green */
}
