/*************************************************
 * MArcomage CSS stylesheet - skins - star theme *
 *************************************************/
/* import dark skin template */
@import url('dark.css');

/* text element layout */
.skin-text {
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/star_label.jpg');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_star.jpg');
}

/* navigation bar layout */
div#menu-bar {
    background-image: url('../../img/skins/star_label.jpg');
}

/* login box layout */
div#login-box {
    background-image: url('../../img/skins/star_label.jpg');
}

/* horizontal line layout */
hr {
    border-color: #eeeeee; /* very light gray */
}

/* unvisited link */
a:link {
    color: #87cefa; /* light sky blue */
}

/* visited link */
a:visited {
    color: #6495ed; /* light blue */
}

/* highlight table row */
.table-row:hover {
    background-color: #6495ed; /* light blue */
    color: black;
}

/* heading layout */
h2, h3, h4, h5 {
    color: #6495ed; /* light blue */
}

/* submit input layout */
button, a.button, .disabled {
    background-color: rgb(70, 70, 100); /* dark blue */
    border-color: #191970; /* midnight blue */
}

/* highlighted button */
button.marked_button, a.marked_button, .nav-buttons button:hover, .nav-buttons .button:hover {
    background-color: green;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed;
    background-color: rgb(70, 70, 100); /* dark blue */
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed;
    background-color: rgb(70, 70, 100); /* dark blue */
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed;
    background-color: rgb(70, 70, 100); /* dark blue */
}

/* new card flag (indicated above a new card) */
p.flag, span.new-card {
    background-color: rgb(50, 50, 75); /* dark blue */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: rgb(50, 50, 75); /* dark blue */
}
