/*************************************************
 * MArcomage CSS stylesheet - skins - blue theme *
 *************************************************/

@import url("light.css"); /* import light skin template */

.skin_text /* text element layout */
{
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

.skin_label /* label element layout */
{
	background-image: url('../../img/skins/blue_label.gif');
}

html /* general background layout */
{
	background-image: url('../../img/skins/bg_blue.gif');
}

div#menubar /* navigation bar layout */
{
	background-image: url('../../img/skins/blue_label.gif');
}

div#login_box /* login box layout */
{
	background-image: url('../../img/skins/blue_label.gif');
}

tr.table_row:hover /* highlight table row */
{
	background-color: rgb(205,206,255); /* light purple */
}

h2,h3,h4,h5 /* heading layout */
{
	color: rgb(150,120, 167); /* light purple */
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

input[type="submit"], input[type="button"] /* submit input layout */
{
	background-color: rgb(150,138, 255); /* light purple */
	border-color: rgb(205,206,255); /* light purple */
}

p.info_label /* information label used in multiple instances in game section */
{
	border: medium ridge rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

p.token_counter /* token counter layout */
{
	border: thin solid rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

div.chatbox /* chatbox window */
{
	border: medium ridge rgb(150,138, 255); /* light purple */
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

p.flag, span.newcard /* new card flag (indicated above a new card) */
{
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}

div#cost_per_turn /* avg cost per turn indicator layout */
{
	background-image: url('../../img/skins/blue_text.jpg');
	background-repeat: repeat;
}
