/*************************************************
 * MArcomage CSS stylesheet - skins - star theme *
 *************************************************/

@import url("dark.css"); /* import dark skin template */

.skin_text /* text element layout */
{
	background-color: rgb(50, 50, 75); /* dark blue */
}

.skin_label /* label element layout */
{
	background-image: url('../../img/skins/star_label.jpg');
}

html /* general background layout */
{
	background-image: url('../../img/skins/bg_star.jpg');
}

div#menubar /* navigation bar layout */
{
	background-image: url('../../img/skins/star_label.jpg');
}

div#login_box /* login box layout */
{
	background-image: url('../../img/skins/star_label.jpg');
}

hr /* horizontal line layout */
{
	border-color: #eeeeee; /* very light gray */
}

a:link /* unvisited link */
{
	color: #87cefa; /* light sky blue */
}

a:visited /* visited link */
{
	color: #6495ed; /* light blue */
}

tr.table_row:hover /* highlight table row */
{
	background-color: #6495ed; /* light blue */
	color: black;
}

h2,h3,h4,h5 /* heading layout */
{
	color: #6495ed; /* light blue */
}

input[type="submit"] /* submit input layout */
{
	background-color: rgb(70, 70, 100); /* dark blue */
	border-color: #191970; /* midnight blue */
}

input.marked_button /* highlighted button */
{
	background-color: green;
}

p.info_label /* information label used in multiple instances in game section */
{
	border: medium ridge #6495ed;
	background-color: rgb(70, 70, 100); /* dark blue */
}

p.token_counter /* token counter layout */
{
	border: thin solid #6495ed;
	background-color: rgb(70, 70, 100); /* dark blue */
}

div.chatbox /* chatbox window */
{
	border: medium ridge #6495ed;
	background-color: rgb(70, 70, 100); /* dark blue */
}

p.flag /* new card flag (indicated above a new card) */
{
	background-color: rgb(50, 50, 75); /* dark blue */
}

div#cost_per_turn /* avg cost per turn indicator layout */
{
	background-color: rgb(50, 50, 75); /* dark blue */
}
