/*************************************************
 * MArcomage CSS stylesheet - skins - fire theme *
 *************************************************/

@import url("dark.css"); /* import dark skin template */

.skin_text /* text element layout */
{
	background-color: #222222; /* light black */
}

.skin_label /* label element layout */
{
	background-image: url('../../img/skins/fire_label.jpg');
}

html /* general background layout */
{
	background-image: url('../../img/skins/bg_fire.jpg');
}

div#menubar /* navigation bar layout */
{
	background-image: url('../../img/skins/fire_label.jpg');
}

div#login_box /* login box layout */
{
	background-image: url('../../img/skins/fire_label.jpg');
}

hr /* horizontal line layout */
{
	border-color: #b01414; /* dark red */
}

a:link /* unvisited link */
{
	color: red;
}

a:visited /* visited link */
{
	color: #b01414; /* dark red */
}

tr.table_row:hover /* highlight table row */
{
	background-color: #b01414; /* dark red */
}

h2,h3,h4,h5 /* heading layout */
{
	color: #f01414; /* dark red */
	text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

input[type="submit"], input[type="button"] /* submit input layout */
{
	background-color: #222222; /* light black */
	border-color: gray;
	color: #dddddd; /* light gray */
}

input.marked_button /* highlighted button */
{
	background-color: #d01414; /* dark red */
}

.info /* information message layout */
{
	text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

.warning /* warning message layout */
{
	text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

.error /* error message layout */
{
	text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

p.info_label /* information label used in multiple instances in game section */
{
	border: medium ridge #6495ed;
	background-color: #222222; /* light black */
}

p.token_counter /* token counter layout */
{
	border: thin solid #6495ed;
	background-color: #222222; /* light black */
}

div.chatbox /* chatbox window */
{
	border: medium ridge #6495ed;
	background-color: #222222; /* light black */
}

p.flag, span.newcard /* new card flag (indicated above a new card) */
{
	background-color: #222222; /* light black */
}

div#cost_per_turn /* avg cost per turn indicator layout */
{
	background-color: #222222; /* light black */
}
