/************************************************
 * MArcomage CSS stylesheet - skins - old theme *
 ************************************************/

.skin_text /* text element layout */
{
	background-color: rgb(40, 40, 65); /* dark blue */
	color: white;
}

.skin_label /* label element layout */
{
	background-image: url('../../img/skins/old_label.jpg');
	background-repeat: repeat;
	color: white;
}

.skin_text, .skin_label /* border layout */
{
	border: thin solid yellow;
	-moz-border-radius: 7px;
}

html /* general background layout */
{
	background-color: black;
	color: white;
}

div#menubar /* navigation bar layout */
{
	background-color: black;
	color: lime;
}

div#login_box /* login box layout */
{
	background-image: url('../../img/skins/old_label.jpg');
	background-repeat: repeat;
	border: 2px outset yellow;
	-moz-border-radius: 7px;
}

input, textarea /* input text fields */
{
	background-color: #dddddd; /* very light gray */
}

hr /* horizontal line layout */
{
	color: yellow;
	border-style: inset; /* override */
}

a:link /* unvisited link */
{
	color: yellow;
}

a:visited /* visited link */
{
	color: #ee82ee; /* purple */
}

tr.table_row:hover /* highlight table row */
{
	background-color: rgb(80,80,80); /* gray */
	color: white;
}

h2,h3,h4,h5 /* heading layout */
{
	color: #ffff66; /* sandy yellow */
}

.new_message /* new message */
{
	color: red;
}

.unread /* unread message */
{
	color: orange;
}

.system_message /* system message */
{
	color: #6495ed; /* light blue */
}

input[type="submit"] /* submit input layout */
{
	background-color: black;
	border-color: #6495ed; /* light blue */
	color: #ffff66; /* sandy yellow */
}

input.marked_button /* highlighted button */
{
	background-color: yellow;
	color: black;
}

.info /* information message layout */
{
	color: lime;
}

.warning /* warning message layout */
{
	color: yellow;
}

.error /* error message layout */
{
	color: red;
}

.p_online /* online player layout */
{
	color: lime;
}

.p_offline /* offline player layout */
{
	color: red;
}

.p_inactive /* inactive player layout */
{
	color: maroon;
}

.p_dead /* dead player layout */
{
	color: gray;
}

p.info_label /* information label used in multiple instances in game section */
{
	border: medium ridge #6495ed;
	background-color: black;
	color: white;
	font-weight: normal;
}

.player
{
	color: lime;
}

p.info_label .opponent
{
	color: #ff69b4; /* hot pink */
}

p.token_counter /* token counter layout */
{
	border: thin solid #6495ed;
	background-color: black;
	color: white;
}

div.chatbox /* chatbox window */
{
	border: medium ridge #6495ed;
	background-color: rgb(40, 40, 65); /* dark blue */
	color: #dddddd; /* very light gray */
}

p.flag /* new card flag (indicated above a new card) */
{
	background-color: rgb(40, 40, 65); /* dark blue */
	color: #dddddd; /* very light gray */
}

div#game .chatbox_player
{
	color: #add8e6; /* light blue */
}

div#game .chatbox_opponent
{
	color: #90ee90; /* light green */
}

div#game .chatbox_system
{
	color: red;
}

div#game div.chatbox > p > span:first-child /* date-time info in chatbox */
{
	color : rgb(219,142,179); /* light pink */
}

/* backwards compatibility hacks start here */


div#forum .skin_text
{
	border-style: none;
}

div#forum .skin_label
{
	border-color: #6495ed; /* light blue */
	border-style: ridge;
	border-width: 3px;
}

div#forum > h3 /* forum title layout */
{
	color: #6699ff; /* light blue */
}

div#forum table /* forum table layout */
{
	border-color: #6495ed; /* light blue */
	border-style: ridge;
	border-width: 3px;
	background-color: #050529; /* very dark blue */
}

div#forum input
{
	border-color: lime;
	border-style: outset;
	border-width: 1px;
	padding: 0.4ex 1.2ex 0.4ex 1.2ex;
}

div#forum input.details
{
	border-style: solid;
	padding: 0ex 0.9ex 0ex 0.9ex;
}

div#forum th > p
{
	color: #f4a460; /* salmon brown */
}

div#game .flag
{
	color: orange;
	border-color: white;
	margin: 1ex 0ex 1ex 0ex;
	border-style: ridge;
	background-color: black;
	font-size: x-small;
	width: 86px;
}

div#game select
{
	font-size: x-small;
	color: yellow;
	background-color: black;
	border: 2px outset #6495ed; /* light blue */
	vertical-align: middle;
	text-shadow: none;
}
