/*************************************************
 * MArcomage CSS stylesheet - skins - fire theme *
 *************************************************/
/* import dark skin template */
@import url('dark.css');

/* text element layout */
.skin-text {
    background-color: #222222; /* light black */
}

/* label element layout */
.skin-label {
    background-image: url('../../img/skins/fire_label.jpg');
}

/* general background layout */
html {
    background-image: url('../../img/skins/bg_fire.jpg');
}

/* navigation bar layout */
div#menu-bar {
    background-image: url('../../img/skins/fire_label.jpg');
}

/* login box layout */
div#login-box {
    background-image: url('../../img/skins/fire_label.jpg');
}

/* horizontal line layout */
hr {
    border-color: #b01414; /* dark red */
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: #b01414; /* dark red */
}

/* highlight table row */
.table-row:hover {
    background-color: #b01414; /* dark red */
}

/* heading layout */
h2, h3, h4, h5 {
    color: #f01414; /* dark red */
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* submit input layout */
button, a.button {
    background-color: #222222; /* light black */
    border-color: gray;
    color: #dddddd; /* light gray */
}

/* disabled hyperlink button */
.disabled {
    background-color: #222222; /* light black */
    border-color: gray;
}

/* highlighted button */
button.marked_button, a.marked_button, .nav-buttons button:hover, .nav-buttons .button:hover {
    background-color: #d01414; /* dark red */
}

/* information message layout */
.info {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* warning message layout */
.warning {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* error message layout */
.error {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/* information label used in multiple instances in game section */
p.info-label {
    border: medium ridge #6495ed;
    background-color: #222222; /* light black */
}

/* token counter layout */
p.token-counter {
    border: thin solid #6495ed;
    background-color: #222222; /* light black */
}

/* chat box window */
div.chat-box {
    border: medium ridge #6495ed;
    background-color: #222222; /* light black */
}

/* new card flag (indicated above a new card) */
p.flag, span.new-card {
    background-color: #222222; /* light black */
}

/* avg cost per turn indicator layout */
div.cost-per-turn, p.deck-stats {
    background-color: #222222; /* light black */
}
