/***********************************
 * MArcomage CSS stylesheet - card *
 ***********************************/

// foil cards animations
@keyframes card-background-foil-bricks {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 65px;
  }
}

@keyframes card-background-foil-gems {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 200px;
  }
}

@keyframes card-background-foil-recruits {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 96px 96px;
  }
}

@keyframes card-background-foil-mixed {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 108px 108px;
  }
}

@keyframes card-background-foil-zero {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 240px;
  }
}

// card
.card {
  background: repeat 0 0;
  border: thin solid black;
  border-radius: 7px;
  box-sizing: content-box;
  color: $black;
  font-family: $font-family-arial;
  font-size: xx-small;
  margin: 1.5ex 0.5ex 0.7ex 0.5ex;
  min-height: 18px;
  text-align: left;
  transition: border-color 200ms;
  width: 88px;

  // background color and background image (with and without foil version) based on cost
  &.bricks-cost {
    background-color: $rosy-brown;

    &.with-bg-image {
      background-image: url('/img/card/bricks_bg.png');

      &.foil {
        //background-image: url('/img/card/foil_bricks_bg.png');
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: card-background-foil-bricks;
        animation-timing-function: linear;
      }
    }
  }

  &.gems-cost {
    background-color: $deep-sky-blue;

    &.with-bg-image {
      background-image: url('/img/card/gems_bg.png');

      &.foil {
        //background-image: url('/img/card/foil_gems_bg.png');
        animation-duration: 16s;
        animation-iteration-count: infinite;
        animation-name: card-background-foil-gems;
        animation-timing-function: linear;
      }
    }
  }

  &.recruits-cost {
    background-color: $dark-sea-green;

    &.with-bg-image {
      background-image: url('/img/card/recruits_bg.png');

      &.foil {
        //background-image: url('/img/card/foil_recruits_bg.png');
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-name: card-background-foil-recruits;
        animation-timing-function: linear;
      }
    }
  }

  &.mixed-cost {
    background-color: $dark-golden-rod;

    &.with-bg-image {
      background-image: url('/img/card/mixed_bg.png');

      &.foil {
        //background-image: url('/img/card/foil_mixed_bg.png');
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-name: card-background-foil-mixed;
        animation-timing-function: linear;
      }
    }
  }

  &.zero-cost {
    background-color: $gainsboro;

    &.with-bg-image {
      background-image: url('/img/card/zero_bg.png');

      &.foil {
        //background-image: url('/img/card/foil_zero_bg.png');
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-name: card-background-foil-zero;
        animation-timing-function: linear;
      }
    }
  }

  // card title
  &__title {
    background-color: $white-shade-light;
    border: thin solid $black-shade-light;
    border-radius: 4px;
    color: $black;
    font-size: xx-small;
    font-weight: normal;
    margin: 2px;
    text-shadow: none;
    text-align: center;
  }

  // card header icons
  .icon-bricks,
  .icon-gems,
  .icon-rarity,
  .icon-recruits,
  .icon-zero {
    background: no-repeat center;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    text-shadow: 0 0 1px $white;
    width: 16px;
  }

  .icon-rarity {
    float: right;
  }

  &__header {
    margin: 0.5ex;

    .icon-bricks {
      //background-image: url('/img/card/bricks_cost.png');
      @include circular-gradient-full($brick-red, $black);
    }

    .icon-zero {
      //background-image: url('/img/card/zero_cost.png');
      @include circular-gradient-full($light-gray, $black);
    }

    .icon-gems {
      //background-image: url('/img/card/gems_cost.png');
      @include circular-gradient-full($navy-blue, $black);
    }

    .icon-recruits {
      //background-image: url('/img/card/recruits_cost.png');
      @include circular-gradient-full($light-green, $black);
    }

    .icon-rarity.common {
      @include circular-gradient-fade($lime, $black);
    }

    .icon-rarity.uncommon {
      @include circular-gradient-fade($dark-brown, $black);
    }

    .icon-rarity.rare {
      @include circular-gradient-fade($yellow, $black);
    }
  }

  &__image {
    position: relative;
    text-align: center;

    // border around the card image
    &> img {
      border: thin solid $black-shade-light;
      box-sizing: content-box;
    }

    // card mini flags
    .mini-flags {
      bottom: 2px;
      left: 6px;
      position: absolute;

      // card mini flags images
      img {
        border: thin solid $white-shade-light;
        border-radius: 6px;
      }
    }
  }

  // keywords
  &__keywords {
    margin: 2px 2px 0 2px;
  }

  // card effect
  &__effect {
    line-height: 11px;
    margin: 2px;
  }

  // override default link font color within the card
  a {
    color: inherit;
  }
}

// add extra margin when cards are displayed in the "history" part of the game section
// TODO this belongs in game component
.history .card {
  margin: 1.5ex 0.5ex 0.7ex 0.5ex;
}

// highlight currently looked up card
// TODO this is a generic component
[data-card-lookup] {
  border-radius: 4px;

  &:hover {
    background-color: $black-shade-lighter;
    transition: background-color 600ms;
  }
}

// hidden card layout
// TODO this belongs in game component
.hidden-card {
  background: $black url('/img/card/hidden_card.png') no-repeat;
  background-size: cover;
  border: thin solid $black;
  border-radius: 7px;
  box-sizing: content-box;
  font-size: x-small;
  height: 100px;
  margin: 1ex 0.5ex 0.7ex 0.5ex;
  position: relative;
  width: 86px;

  .card-flag {
    position: absolute;
    top: 42px;
    transform: rotate(-45deg);
    width: 100%;
  }
}

// keyword insignia layout
// TODO this is a global component
.keyword-insignia {
  border: thin solid $black-shade-light;
  border-radius: 50%;
  vertical-align: middle;
}

// card lookup (card reference display)
// TODO this is a generic component
.card-lookup-hint {
  display: none;
  left: 0;
  position: absolute;
  top: 0;

  .card {
    margin-left: 0;
    margin-right: 0;
  }
}
