/***********************************
 * MArcomage CSS stylesheet - card *
 ***********************************/

// card
div.card {
  font-family: $font-family-arial;
  width: 88px;
  border: thin solid black;
  border-radius: 7px;
  margin: 1.5ex 0.5ex 0.7ex 0.5ex;
  font-size: xx-small;
  text-align: left;
  color: $black;
  min-height: 18px;
  box-sizing: content-box;
  background: repeat 0 0;
  transition: border-color 200ms;
}

// add extra margin when cards are displayed in the "history" part of the game section
div.history div.card {
  margin: 1.5ex 0.5ex 0.7ex 0.5ex;
}

// background color, based on cost
div.card.bricks-cost {
  background-color: $rosy-brown;
}

div.card.gems-cost {
  background-color: $deep-sky-blue;
}

div.card.recruits-cost {
  background-color: $dark-sea-green;
}

div.card.mixed-cost {
  background-color: $dark-golden-rod;
}

div.card.zero-cost {
  background-color: $gainsboro;
}

// background image, based on cost
div.card.bricks-cost.with-bg-image {
  background-image: url('/img/card/bricks_bg.png');
}

div.card.gems-cost.with-bg-image {
  background-image: url('/img/card/gems_bg.png');
}

div.card.recruits-cost.with-bg-image {
  background-image: url('/img/card/recruits_bg.png');
}

div.card.mixed-cost.with-bg-image {
  background-image: url('/img/card/mixed_bg.png');
}

div.card.zero-cost.with-bg-image {
  background-image: url('/img/card/zero_bg.png');
}

// foil cards animations
@keyframes card-background-foil-bricks {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 65px;
  }
}

@keyframes card-background-foil-gems {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 200px;
  }
}

@keyframes card-background-foil-recruits {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 96px 96px;
  }
}

@keyframes card-background-foil-mixed {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 108px 108px;
  }
}

@keyframes card-background-foil-zero {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 240px;
  }
}

// background image, based on cost - foil version
div.card.bricks-cost.with-bg-image.foil {
  //background-image: url('/img/card/foil_bricks_bg.png');
  animation-name: card-background-foil-bricks;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.card.gems-cost.with-bg-image.foil {
  //background-image: url('/img/card/foil_gems_bg.png');
  animation-name: card-background-foil-gems;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.card.recruits-cost.with-bg-image.foil {
  //background-image: url('/img/card/foil_recruits_bg.png');
  animation-name: card-background-foil-recruits;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.card.mixed-cost.with-bg-image.foil {
  //background-image: url('/img/card/foil_mixed_bg.png');
  animation-name: card-background-foil-mixed;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.card.zero-cost.with-bg-image.foil {
  //background-image: url('/img/card/foil_zero_bg.png');
  animation-name: card-background-foil-zero;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// card title
div.card > h5 {
  font-weight: normal;
  font-size: xx-small;
  margin: 2px;
  color: $black;
  text-shadow: none;
  text-align: center;
  background-color: $white-shade-light;
  border: thin solid $black-shade-light;
  border-radius: 4px;
}

// card top icon
.icon-zero,
.icon-recruits,
.icon-gems,
.icon-bricks,
.icon-rarity {
  display: inline-block;
  font-weight: bold;
  background: no-repeat center;
  line-height: 16px;
  width: 16px;
  text-align: center;
  border-radius: 8px;
  text-shadow: 0 0 1px $white;
}

.icon-rarity {
  float: right;
}

div.card-top {
  margin: 0.5ex;
}

div.card-top > .icon-bricks {
  //background-image: url('/img/card/bricks_cost.png');
  // TODO move to mixins
  background: white radial-gradient(
    circle, rgba(254, 70, 70, 0.2) 10%, rgba(254, 70, 70, 0.3) 15%,
    rgba(254, 70, 70, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-zero {
  //background-image: url('/img/card/zero_cost.png');
  background: white radial-gradient(
    circle, rgba(161, 161, 161, 0.2) 10%, rgba(161, 161, 161, 0.3) 15%,
    rgba(161, 161, 161, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-gems {
  //background-image: url('/img/card/gems_cost.png');
  background: white radial-gradient(
    circle, rgba(67, 67, 254, 0.2) 10%, rgba(67, 67, 254, 0.3) 15%,
    rgba(67, 67, 254, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-recruits {
  //background-image: url('/img/card/recruits_cost.png');
  background: white radial-gradient(
    circle, rgba(55, 154, 55, 0.2) 10%, rgba(55, 154, 55, 0.3) 15%,
    rgba(55, 154, 55, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-rarity.common {
  background: white radial-gradient(
    circle, rgba(0, 255, 0, 0.1) 10%, rgba(0, 255, 0, 0.2) 15%,
    rgba(0, 255, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-rarity.uncommon {
  background: white radial-gradient(
    circle, rgba(139, 0, 0, 0.1) 10%, rgba(139, 0, 0, 0.2) 15%,
    rgba(139, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card-top > .icon-rarity.rare {
  background: white radial-gradient(
    circle, rgba(255, 255, 0, 0.1) 10%, rgba(255, 255, 0, 0.2) 15%,
    rgba(255, 255, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}

div.card > div.card-image {
  position: relative;
  text-align: center;
}

// border around the card image
div.card-image > img {
  border: thin solid $black-shade-light;
  box-sizing: content-box;
}

// highlight currently looked up card
[class*="card-lookup-"] {
  border-radius: 4px;
}

[class*="card-lookup-"]:hover {
  background-color: $black-shade-lighter;
  transition: background-color 600ms;
}

// card mini flags
div.mini-flags {
  position: absolute;
  bottom: 2px;
  left: 6px;
}

// card mini flags images
div.mini-flags > img {
  border: thin solid $white-shade-light;
  border-radius: 6px;
}

// set distance of the card text from the card border (left and right)
div.card > p {
  margin: 0 2px 0 2px;
}

// keywords
div.card > p.keywords {
  margin-top: 2px;
}

// card effect
div.card > p.effect {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 11px;
}

// override default link font color within the card
div.card a {
  color: inherit;
}

// hidden card layout
div.hidden-card {
  position: relative;
  font-size: x-small;
  width: 86px;
  height: 100px;
  border: thin solid $black;
  border-radius: 7px;
  margin: 1ex 0.5ex 0.7ex 0.5ex;
  background: $black url('/img/card/hidden_card.png') no-repeat;
  background-size: cover;
  box-sizing: content-box;
}

div.hidden-card > p.flag {
  position: absolute;
  width: 100%;
  top: 42px;
  transform: rotate(-45deg);
}

// keyword insignia layout
img.insignia {
  border: thin solid $black-shade-light;
  vertical-align: middle;
}

// card lookup (card reference display)
div#card-lookup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

div#card-lookup > .card {
  margin-left: 0;
  margin-right: 0;
}
