/*******************************************
 * MArcomage CSS stylesheet - error widget *
 *******************************************/

.error-widget {
  padding-bottom: 5ex;

  &__title {
    @include simple-shadow($black);
  }

  &__content {
    text-align: center;

    p {
      margin-bottom: 4ex;
      margin-top: 4ex;
    }
  }

  &__message {
    font-family: $font-family-monospace;
  }
}