/***********************************
 * MArcomage CSS stylesheet - game *
 ***********************************/

@import "../variables";
@import "../typography";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables";

.game {
  margin-bottom: 1ex;
  text-align: center;

  [class*='col-'] {
    margin-bottom: 0.5ex;
    margin-top: 0.5ex;
  }

  &__board {
    background: no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    padding-bottom: 1ex;
    padding-top: 1ex;

    .avatar-image {
      display: inline-block;
    }

    @media (max-width: $screen-sm-max) {
      background-size: 0 0;
    }
  }

  &__buttons-bar {
    text-align: center;

    .button,
    button {
      margin-left: 1ex;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__state-info {
    display: inline-block;
    padding-left: 1ex;
    padding-right: 1ex;
  }

  &__mode-flags {
    display: inline-block;

    img {
      margin: 0;
    }
  }

  &__hand {
    text-align: center;

    & > div {
      display: inline-block;
      vertical-align: top;
    }

    .card,
    .hidden-card {
      margin: 0.5ex 1ex 0.7ex 1ex;
    }
  }

  &__card-modes {
    margin-left: 0.5ex;
  }

  &__empire-stats {
    display: inline-block;
    vertical-align: bottom;

    img {
      margin-left: 0.5ex;
      margin-right: 0.5ex;
    }

    .info-label {
      margin-top: 1ex;
      padding-left: 1ex;
      padding-right: 1ex;
    }

    @media (max-width: $screen-sm-max) {
      & > div {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  &__facility {
    color: $white;
    font-size: 24px;
    height: 54px;
    line-height: 54px;
    margin: 0 0 0 5px;
    padding: 0;
  }

  &__resource {
    color: $black;
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0 0 0 5px;
    padding: 0;
  }

  &__stock-info {
    background: no-repeat center center;
    height: 70px;
    text-align: left;
    width: 78px;

    &--bricks {
      background-image: url('/img/game/bricks.png');
    }

    &--gems {
      background-image: url('/img/game/gems.png');
    }

    &--recruits {
      background-image: url('/img/game/recruits.png');
    }
  }

  &__player-name {
    display: inline-block;
    font-size: $font-size-small;
    font-family: $font-family-arial;
    margin-bottom: 0.5ex;
    margin-top: 0;

    .icon-image {
      margin-left: 0.5ex;
      margin-right: 0;
    }

    &--opponent {
      .icon-image {
        margin-left: 0;
        margin-right: 0.5ex;
      }
    }
  }

  &__empire-changes {
    font-size: $font-size-x-small;
    font-weight: normal;
    margin-left: 0.3ex;
  }

  &__player-info {
    margin-bottom: 0.5ex;
    margin-top: 0.5ex;
  }

  &__castle-display {
    display: inline-block;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &__castle-graphic {
    align-items: flex-end;
    display: flex;
  }

  &__tower-display {
    margin: 0 1ex 0 1ex;

    img {
      display: block
    }

    & > div {
      background: url('/img/game/tower_body.png') repeat-y bottom left;
      margin-left: 14px;
      width: 37px;
    }
  }

  &__wall-display {
    img {
      display: block
    }

    & > div {
      background: url('/img/game/wall_body.png') repeat-y bottom left;
      width: 19px;
    }
  }

  &__card-log {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 96px;
  }

  &__card-list {
    display: inline-block;
    min-width: 96px;
    vertical-align: top;
  }

  &__card-log-separator {
    border-right: 2px solid $pure-yellow;
  }

  .info-label {
    border-radius: 6px;
    border-style: ridge;
    border-width: medium;
    font-size: $font-size-medium;
    text-align: center;

    &--small {
      font-size: $font-size-x-small;
      margin-top: 0.5ex;
      text-transform: uppercase;
    }
  }

  .token-counter {
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    font-size: $font-size-small;
    margin: 1ex 0.5ex 0 0.5ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-align: center;

    img {
      margin-bottom: 0.5ex;
    }

    span {
      margin-left: 0.5ex;
    }
  }

  .flag-space {
    font-size: $font-size-x-small;
    margin-bottom: 1.5ex;
    margin-top: 0.5ex;

    .new-card {
      border: ridge $soft-blue;
      border-radius: 7px;
      padding: 0 1ex 0 1ex;
      text-transform: uppercase;
    }
  }

  .card-flag {
    border: ridge $soft-blue;
    border-radius: 6px;
    font-size: $font-size-x-small;
    max-width: 88px;
    margin: 0.5ex auto 1.5ex;
    text-transform: uppercase;

    &--played {
      border-color: $dark-lime-green;

      span {
        text-transform: none;
      }
    }

    &--discarded {
      border-color: $pure-red;
    }
  }

  .unplayable {
    .card {
      position: relative;

      &::after {
        background-color: $transparent-shadow;
        border-radius: 7px;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity 200ms;
        width: 100%;
      }

      &:hover::after,
      &.selected-card::after {
        opacity: 0;

        // this prevents the mask from hindering tooltips
        visibility: hidden;
      }
    }
  }

  .selected-card {
    border-color: $pure-yellow;
  }

  input[type="radio"] {
    border: thin solid;
    padding: 1ex;
    margin: 0;
  }

  button[name="slideshow-pause"],
  button[name="slideshow-play"] {
    display: none;
  }
}

// integrated chat
.chat-board {
  margin-top: 1ex;
  padding-left: 2ex;
  padding-right: 2ex;

  &__message-box {
    border-radius: 6px;
    border-style: ridge;
    border-width: medium;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5ex;
    max-height: 11.5ex;
    max-width: $max-text-width;
    padding: 0.5ex 1ex 1ex 1ex;
    text-align: left;
  }

  &__message-title {
    margin-bottom: 0.5ex;
    margin-top: 0.5ex;

    &:first-child {
      margin-top: 0;
    }

    .avatar-image {
      margin-right: 0.5ex;
    }
  }

  &__message-content {
    margin-bottom: 1ex;
    margin-left: 0.5ex;
  }

  &__inputs {
    margin-top: 1ex;

    textarea {
      font-size: $font-size-medium;
      margin-top: 1ex;
      max-width: 50em;
    }

    & > * {
      vertical-align: middle;
    }
  }
}

// chat modal dialog
.chat-dialog {
  &__message-box {
    overflow: auto;
    max-height: 20ex;

    .avatar-image {
      margin-right: 0.5ex;
    }
  }

  &__message {
    margin-left: 0.5ex;
    max-width: $max-text-width;
    padding-bottom: 1ex;
    padding-top: 0.5ex;
  }
}
