/*********************************************
 * MArcomage CSS stylesheet - general styles *
 *********************************************/

html {
  font-family: $font-family-times;
  margin: 0;
  padding: 0;
}

hr {
  border: thin solid;
  margin: 0;
  padding: 0;
}

// set default properties (do not rely on browser defaults)
body {
  background-color: $transparent-full;
  color: inherit;
  font-family: $font-family-times;
  font-size: $font-size-medium;
  line-height: normal;
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

ul {
  margin-left: 2ex;
  padding-left: 0;
}

select {
  background-color: $soft-blue;
  border: thin solid $black;
  color: $black;
  font-family: $font-family-arial;
  font-size: $font-size-small;
  font-weight: normal;
  padding: 0.3ex 0.5ex 0.3ex 0.5ex;
  vertical-align: middle;
}

// text area layout
textarea {
  border: 2px inset $black;
  border-radius: 6px;
  color: $black;
  font-family: $font-family-monospace;
  font-weight: normal;
  margin-top: 1ex;
  width: 100%;
}

// information message layout
.information-line {
  font-family: $font-family-arial;
  line-height: 20px;
  text-align: center;

  &--inner {
    margin-bottom: 1ex;
    margin-top: 1ex;
  }
}

// when no information is displayed, display blank line
.blank-line {
  height: 20px;
  margin: 0;
}

.avatar-image {
  background-color: $black;
  border: thin solid $white-shade;
  vertical-align: middle;
}

fieldset {
  border: 2px groove threedface;
  display: block;
  padding: 1ex 2ex 2ex 2ex;
}

legend {
  border-color: initial;
  border-image: initial;
  border-style: none;
  border-width: initial;
  color: inherit;
  display: block;
  font-size: $font-size-medium;
  margin: 0;
  padding: 0 0.5ex 0 0.5ex;
  width: auto;
}

// highlight filter when active
.filter-active {
  background-color: $dark-lime-green;
}

// icon image
.icon-image {
  margin-left: 0.5ex;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }
}

// newly unlocked cards during level up message
.unlocked-cards {
  text-align: center;

  &> div {
    display: inline-block;
    vertical-align: top;
  }
}

.challenge-deck {
  background-color: $dark-lime-green;
}

.icon-player-activity {
  border-radius: 8px;
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  width: 12px;
}

.icon-player-activity.online {
  @include circular-gradient($pure-lime-green);
}

.icon-player-activity.offline {
  @include circular-gradient($pure-red);
}

.icon-player-activity.inactive {
  @include circular-gradient($dark-red);
}

.icon-player-activity.dead {
  @include circular-gradient($dark-red);
}

// hidden links
.hidden-link,
.hidden-link:link,
.hidden-link:visited {
  color: inherit;
  text-decoration: none;
}

// buttons and inputs
button,
.button,
.disabled-button,
input
{
  border: 2px outset $black;
  border-radius: 6px;
  color: $black;
  font-family: $font-family-arial;
  font-size: $font-size-small;
  font-weight: normal;
  padding: 0.4ex 1.2ex 0.4ex 1.2ex;
  vertical-align: middle;
}

button,
input {
  &.pushed {
    border-style: inset;
  }
}

.button-icon {
  font-size: $font-size-large;
  padding: 0.2ex 0.6ex 0.2ex 0.6ex;

  &.pushed {
    border-style: inset;
  }
}

// disabled button
.disabled-button {
  color: $dark-gray;
  display: inline-block;
  font-size: $font-size-large;
  padding: 0.2ex 0.6ex 0.2ex 0.6ex;
}

// hyperlink button
.button {
  display: inline-block;
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  &:active,
  &.pushed {
    border-style: inset;
  }
}

.pagination-button {
  font-size: $font-size-medium;
}

.bb-code-buttons {
  margin-top: 0.5ex;

  button {
    margin-top: 0.5ex;
  }
}

.long-text {
   max-width: $max-text-width;
   text-align: justify;

  p {
    margin-top: 1ex;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $screen-lg-min) {
    margin-right: auto;
  }
 }

.skin-text {
  &--plain-content {
    padding: 1ex;
  }
}

.interactive-menu {
  button,
  .button {
    transition: background-color 400ms;
  }
}

.filters {
  text-align: center;
  margin-top: 1ex;

  &--plain {
    margin-top: 0;
  }

  button,
  .button,
  .disabled-button,
  .text-label {
    margin-left: 0.5ex;

    &:first-child {
      margin-left: 0;
    }
  }
}

.glyphicon {
  margin-left: 0.5ex;

  &:first-child {
    margin-left: 0;
  }
}

.text-label {
  border-radius: 6px;
  border-style: outset;
  border-width: 2px;
  display: inline-block;
  padding: 0.5ex 0.8ex 0.5ex 0.8ex;

  &--borderless {
    border-width: 0;
  }

  b {
    margin-left: 0.5ex;

    &:first-child {
      margin-left: 0;
    }
  }
}

// input text fields
input[type="password"],
input[type="text"] {
  border-style: inset;
}

input[type="file"] {
  display: inline-block;
}

// checkbox layout
input[type="checkbox"] {
  font-size: $font-size-large;
  margin: 3px;
}

.table-checkbox {
  border: thin solid;
  padding: 0.7ex;
}
