/****************************************************
 * MArcomage CSS stylesheet - Bootstrap grid styles *
 ****************************************************/

.container {
  padding-left: 0;
  padding-right: 0;

  .top-level {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
    margin-top: 1ex;
  }

  .inner-level {
    margin-left: 1ex;
    margin-right: 1ex;
    margin-top: 1ex;
  }

  .row {
    margin-left: 0;
    margin-right: 0;

    &> [class*='col-'] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
