/***************************************************
 * MArcomage CSS stylesheet - inner navigation bar *
 ***************************************************/

.inner-navbar {
  padding-top: 0.5ex;
  text-align: center;

  .button-icon {
    margin-top: 0.5ex;
  }

  &__menu-center {
    .button {
      margin-left: 0.5ex;
      margin-top: 0.5ex;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__notifications {
    .hidden-link {
      margin-left: 0.5ex;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__player-info {
    display: inline-block;
    margin-top: 0.5ex;

    &> div {
      padding: 0.5ex 1ex 0.5ex 1ex;
    }
  }
}
