/*******************************************
 * MArcomage CSS stylesheet - modal styles *
 *******************************************/

[role="dialog"].modal {
  // modal screen center display
  .vertical-alignment-helper {
    display: table;
    height: 100%;
    pointer-events: none;
    width: 100%;
  }

  .vertical-align-center {
    display: table-cell;
    pointer-events: none;
    vertical-align: middle;
  }

  .modal-content {
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    width: inherit;
  }

  // general modal layout
  .modal-dialog {
    color: $black;
    text-align: center;

    .modal-title {
      font-family: $font-family-arial;
      text-align: left;
    }

    .modal-body {
      &--error-message p {
        color: $red;
      }
    }

    .modal-footer {
      text-align: center;
    }
  }

  [name="close-modal"] {
    background-color: $transparent-full;
    border-style: none;
    float: right;
  }
}
