/*******************************************
 * MArcomage CSS stylesheet - table styles *
 *******************************************/

@import "../variables";
@import "../typography";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables";

// standard table
table {
  border-collapse: separate;
  border-spacing: 0;

  // centered table
  &.centered {
    margin-left: auto;
    margin-right: auto;
  }

  &.text-cells {
    td,
    th {
      padding: 0 0.5ex 0 0.5ex;
    }
  }

  // table header
  th {
    font-family: $font-family-arial;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  // table cell
  td {
    padding: 0;

    // centered cell
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // centered cell
  tr.centered td {
    text-align: center;
  }

  // table align top
  .align-top {
    vertical-align: top;
  }

  // table align bottom
  .align-bottom {
    vertical-align: bottom;
  }
}

// table align right
.align-right > * {
  margin-left: auto
}

// responsive table
.responsive-table {
  margin-bottom: 1ex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5ex;

  &--centered {
    text-align: center;
  }

  &__marked-content {
    color: $pure-red;
  }

  // responsive table header
  &> .row:first-child {
    font-family: $font-family-arial;
    text-align: center;
  }

  // fade table row hover effect
  .table-row {
    transition: background-color 400ms;

    // click-able row
    &--details {
      cursor: pointer;
    }

    p {
      transition: color 400ms;
    }
  }

  // cell spacing
  .row > [class*='col-'] > p {
    margin: 1ex 0.5ex 1ex 0.5ex;

    &.long-text {
      margin: 1ex;
    }
  }

  .card {
    display: inline-block;
    margin-left: 1ex;
    margin-right: 1ex;
  }

  @media (max-width: $screen-xs-max) {
    &.table-sm {
      // separate list items visually
      &> .row + .row {
        border-top: thin solid $transparent-shadow;
      }

      // hide responsive table header
      &> .row:first-child > [class*='col-'] > * {
        display: none;
      }

      // show only sortable column names
      &> .row:first-child > [class*='col-'] > .sortable-cell {
        display: block;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    &.table-md {
      // separate list items visually
      &> .row + .row {
        border-top: thin solid $transparent-shadow;
      }

      // hide responsive table header
      &> .row:first-child > [class*='col-'] > * {
        display: none;
      }

      // show only sortable column names
      &> .row:first-child > [class*='col-'] > .sortable-cell {
        display: block;
      }
    }
  }

  @media (min-width: $screen-sm) {
    &--with-avatars-sm {
      .table-row p {
        line-height: 60px;
      }

      .table-row .button-icon {
        line-height: initial;
      }
    }
  }

  @media (min-width: $screen-md) {
    &--with-avatars-md {
      .table-row p {
        line-height: 60px;
      }

      .table-row {
        button,
        .button-icon {
          line-height: initial;
        }
      }
    }
  }
}
