/*****************************************
 * MArcomage CSS stylesheet - stars skin *
 *****************************************/

.stars-skin {
  background-image: url('/img/skins/bg_star.jpg');

  .skin-text {
    background-color: $very-dark-grayish-blue;
  }

  .skin-label {
    background-image: url('/img/skins/star_label.jpg');
  }

  .inner-navbar {
    background-image: url('/img/skins/star_label.jpg');
  }

  .outer-navbar {
    background-image: url('/img/skins/star_label.jpg');
  }

  hr {
    border-color: $pure-light-gray;
  }

  a:link {
    color: $soft-blue-light;
  }

  a:visited {
    color: $soft-blue;
  }

  .table-row:hover {
    background-color: $soft-blue;
    color: $black;

    a:link,
    a:visited {
      color: inherit;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: $soft-blue;
  }

  .button,
  button,
  .disabled-button {
    background-color: $dark-grayish-blue;
    border-color: $very-dark-blue;
  }

  .marked-button,
  .interactive-menu button:hover,
  .interactive-menu .button:hover {
    background-color: $dark-lime-green;
  }

  .info-label {
    background-color: $dark-grayish-blue;
    border-color: $soft-blue;
  }

  .token-counter {
    background-color: $dark-grayish-blue;
    border-color: $soft-blue;
  }

  .chat-board__message-box {
    background-color: $dark-grayish-blue;
    border-color: $soft-blue;
  }

  .card-flag,
  .new-card {
    background-color: $very-dark-grayish-blue;
  }

  .text-label {
    background-color: $very-dark-grayish-blue;
  }
}
