// Typography

// TODO maybe try some more fancy fonts?
//$font-family-arial: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$font-family-times: Georgia, "Times New Roman", Times, serif !default;

$font-family-arial: arial, sans-serif !default;
$font-family-times: times, serif !default;
$font-family-monospace: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !default;
