// Variables

// set path for Bootstrap fonts
$icon-font-path: "/styles/fonts/" !default;

// colors
$black: rgba(0, 0, 0, 1) !default;
$black-shade-light: rgba(0, 0, 0, 0.5) !default;
$black-shade-lighter: rgba(0, 0, 0, 0.2) !default;
$bright-blue: rgba(67, 67, 254, 1) !default;
$bright-red: rgba(254, 70, 70, 1) !default;
$dark-gray: rgba(128, 128, 128, 1) !default;
$dark-lime-green: rgb(0, 128, 0) !default;
$dark-moderate-lime-green: rgba(55, 154, 55, 1) !default;
$dark-red: rgba(128, 0, 0, 1) !default;
$darker-gray: rgba(161, 161, 161, 1) !default;
$darker-red: rgba(139, 0, 0, 1) !default;
$grayish-lime-green: rgb(143, 188, 143) !default;
$grayish-red: rgb(188, 143, 143) !default;
$pure-blue: rgb(0, 191, 255) !default;
$pure-lime-green: rgba(0, 255, 0, 1) !default;
$pure-orange: rgb(255, 136, 0) !default;
$pure-red: rgba(255, 0, 0, 1) !default;
$pure-red-light: rgb(255, 34, 0) !default;
$pure-yellow: rgba(255, 255, 0, 1) !default;
$soft-blue: rgb(100, 149, 237) !default;
$strong-orange: rgb(184, 134, 11) !default;
$transparent-full: transparent;
$transparent-shadow: rgba(0, 0, 0, 0.3) !default;
$very-light-gray: rgb(220, 220, 220) !default;
$vivid-yellow: rgb(255, 221, 51) !default;
$vivid-yellow-light: rgb(255, 255, 51) !default;
$white: rgb(255, 255, 255) !default;
$white-shade: rgba(255, 255, 255, 0.8) !default;
$white-shade-light: rgba(255, 255, 255, 0.5) !default;

$max-text-width: 50em !default;
