// Variables

// set path for Bootstrap fonts
$icon-font-path: "/styles/fonts/" !default;

// colors
$black: rgba(0, 0, 0, 1) !default;
$black-shade-light: rgba(0, 0, 0, 0.5) !default;
$black-shade-lighter: rgba(0, 0, 0, 0.2) !default;
$blue: rgb(0, 0, 255) !default;
$bright-blue: rgba(67, 67, 254, 1) !default;
$bright-red: rgba(254, 70, 70, 1) !default;
$dark-cyan: rgb(0, 135, 164) !default;
$dark-gray: rgba(128, 128, 128, 1) !default;
$dark-grayish-blue: rgb(70, 70, 100) !default;
$dark-lime-green: rgb(0, 128, 0) !default;
$dark-magenta: rgb(128, 0, 128) !default;
$dark-moderate-lime-green: rgba(55, 154, 55, 1) !default;
$dark-orange: rgb(173, 72, 0) !default;
$dark-red: rgba(128, 0, 0, 1) !default;
$dark-red-light: rgb(176, 20, 20) !default;
$darker-gray: rgba(161, 161, 161, 1) !default;
$darker-red: rgba(139, 0, 0, 1) !default;
$grayish-lime-green: rgb(143, 188, 143) !default;
$grayish-red: rgb(188, 143, 143) !default;
$light-blue: rgb(102, 153, 255) !default;
$light-gray: rgb(204, 204, 204) !default;
$light-yellow: rgb(255, 255, 102) !default;
$mostly-black: rgb(34, 34, 34) !default;
$mostly-black-light: rgb(43, 43, 43) !default;
$mostly-dark-blue: rgb(5, 5, 41) !default;
$mostly-dark-gray: rgb(80, 80, 80) !default;
$mostly-desaturated-dark-violet: rgb(150, 120, 167) !default;
$mostly-orange: rgb(255, 106, 0) !default;
$pale-blue: rgb(191, 223, 255) !default;
$pure-blue: rgb(0, 191, 255) !default;
$pure-light-gray: rgb(238, 238, 238) !default;
$pure-lime-green: rgba(0, 255, 0, 1) !default;
$pure-orange: rgb(255, 136, 0) !default;
$pure-red: rgba(255, 0, 0, 1) !default;
$pure-red-light: rgb(255, 34, 0) !default;
$pure-yellow: rgba(255, 255, 0, 1) !default;
$soft-blue: rgb(100, 149, 237) !default;
$soft-blue-dark: rgb(91, 101, 223) !default;
$soft-blue-light: rgb(135, 206, 250) !default;
$soft-lime-green: rgb(74, 230, 83) !default;
$soft-magenta: rgb(238, 130, 238) !default;
$soft-orange: rgb(244, 164, 96) !default;
$strong-lime-green: rgb(5, 204, 0) !default;
$strong-cyan: rgb(0, 159, 193) !default;
$strong-cyan-lime-green: rgb(46, 200, 105) !default;
$strong-orange: rgb(184, 134, 11) !default;
$strong-orange-brown: rgb(193, 65, 20) !default;
$strong-orange-light: rgb(216, 86, 0) !default;
$transparent-full: transparent;
$transparent-shadow: rgba(0, 0, 0, 0.3) !default;
$very-dark-blue: rgb(25, 25, 112) !default;
$very-dark-desaturated-blue: rgb(40, 40, 65)!default;
$very-dark-gray: rgb(17, 17, 17) !default;
$very-dark-grayish-blue: rgb(50, 50, 75) !default;
$very-dark-lime-green: rgb(39, 73, 45) !default;
$very-light-blue: rgb(150, 138, 255) !default;
$very-light-gray: rgb(220, 220, 220) !default;
$very-light-pink: rgb(255, 105, 180) !default;
$very-pale-blue: rgb(205, 206, 255) !default;
$very-soft-cyan: rgb(173, 216, 230) !default;
$very-soft-lime-green: rgb(144, 238, 144) !default;
$vivid-orange: rgb(226, 81, 9) !default;
$vivid-red: rgb(240, 20, 20) !default;
$vivid-yellow: rgb(255, 221, 51) !default;
$vivid-yellow-light: rgb(255, 255, 51) !default;
$white: rgb(255, 255, 255) !default;
$white-shade: rgba(255, 255, 255, 0.8) !default;
$white-shade-light: rgba(255, 255, 255, 0.5) !default;
$white-shade-lighter: rgba(255, 255, 255, 0.3) !default;

$max-text-width: 50em !default;
