// Variables

// set path for Bootstrap fonts
$icon-font-path: "/styles/fonts/" !default;

// colors
$black: rgba(0, 0, 0, 1) !default;
$black-shade-light: rgba(0, 0, 0, 0.5) !default;
$black-shade-lighter: rgba(0, 0, 0, 0.2) !default;
$brick-red: rgba(254, 70, 70, 1) !default;
$brown: rgba(128, 0, 0, 1) !default;
$dark-brown: rgba(139, 0, 0, 1) !default;
$dark-golden-rod: rgb(184, 134, 11) !default;
$dark-sea-green: rgb(143, 188, 143) !default;
$deep-sky-blue: rgb(0, 191, 255) !default;
$gainsboro: rgb(220, 220, 220) !default;
$gray: rgba(128, 128, 128, 1) !default;
$green: rgb(0, 128, 0) !default;
$light-blue: rgb(100, 149, 237) !default;
$light-gray: rgba(161, 161, 161, 1) !default;
$light-green: rgba(55, 154, 55, 1) !default;
$lime: rgba(0, 255, 0, 1) !default;
$navy-blue: rgba(67, 67, 254, 1) !default;
$orange: rgb(255, 136, 0) !default;
$orange-light: rgb(255, 221, 51) !default;
$red: rgba(255, 0, 0, 1) !default;
$red-light: rgb(255, 34, 0) !default;
$rosy-brown: rgb(188, 143, 143) !default;
$transparent-full: transparent;
$transparent-shadow: rgba(0, 0, 0, 0.3) !default;
$white: rgb(255, 255, 255) !default;
$white-shade: rgba(255, 255, 255, 0.8) !default;
$white-shade-light: rgba(255, 255, 255, 0.5) !default;
$yellow: rgba(255, 255, 0, 1) !default;
$yellow-light: rgb(255, 255, 51) !default;

$max-text-width: 50em !default;
