/********************************************
 * MArcomage CSS stylesheet - cards section *
 ********************************************/

div#cards /* cards section layout */
{
	min-width: 1045px;
	text-align: center;
}

div#cards table /* cards list layout */
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1ex;
	width: 85%;
}

div#cards table th > p, div#cards table td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

div#cards table div.karta /* card layout within the table */
{
	margin-left: 2ex;
}

div#cards .filters /* filters */
{
	margin: 1ex 0ex 2ex 2ex;
}

p.effect /* card effect */
{
	text-align: left;
}

/* begin cards details */

div#cards_details /* cards details subsection */
{
	min-width: 1045px;
}

div#cards_details > .skin_text /* card data layout */
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 1ex;
	width: 50%;
	padding: 1ex;
}

div#cards_details > .skin_text > p, div#cards_details > .skin_text > div.limit > p, div#cards_details > .skin_text hr /* set distance between elements */
{
	margin-top: 1ex;
	margin-bottom: 1ex;
	font-weight: bold;
}

div.limit /* input formular layout */
{
	width: 25em;
}

div.limit > p > span /* float text to the right */
{
	float: right;
}

div.card_preview /* card preview layout */
{
	float: right;
}

div.card_preview > div.karta /* card preview spacing */
{
	margin-top: 0ex;
}

div.code /* card code */
{
	overflow: auto;
}

/* end cards details */

/* begin keywords table */

div#keywords /* keywords list subsection */
{
	min-width: 1045px;
}

div#keywords table /* keywords table */
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1ex;
	width: 85%;
}

div#keywords table th, div#keywords table td /* table cell text */
{
	padding: 1ex;
}

div#keywords table tr.table_row:hover a /* keyword hyperlink */
{
	color: inherit;
}

.description /* keyword description */
{
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	text-align: justify;
}

/* end keywords table */

/* begin keyword details */

div#keyword_details /* keyword details subsection */
{
	min-width: 1045px;
}

div#keyword_details > h3 /* navigation */
{
	margin: 0ex;
}

div#keyword_details h4 /* heading */
{
	margin: 0ex 0ex 1ex 0ex;
}

div#keyword_details * + h4 /* heading spacing */
{
	margin-top: 1ex;
}

div#keyword_details .skin_text /* keyword data */
{
	margin: 1ex auto 1ex auto;
	width: 60%;
	padding: 1ex;
}

div#keyword_details .skin_text hr /* set distance between elements */
{
  margin-top: 1ex;
}

.description > img.insignia /* keyword insignia */
{
	margin-right: 1ex;
}

.lore /* keyword lore */
{
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	text-align: justify;
}

.lore > p + p /* keyword lore spacing */
{
	margin-top: 1ex;
}

/* end keyword details */
