/********************************************
 * MArcomage CSS stylesheet - cards section *
 ********************************************/

/* cards list layout */
div#cards .responsive-table {
    text-align: center;
}

/* card layout within the table */
div#cards .responsive-table div.card {
    margin-left: 1ex;
    margin-right: 1ex;
    display: inline-block;

}

/* filters */
div#cards .filters {
    margin: 1ex 0 2ex 2ex;
}

/* begin cards details */

/* card data layout */
div#cards_details > .skin-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1ex;
    max-width: 30em;
    padding: 1ex;
}

/* set distance between elements */
div#cards_details > .skin-text > p, div#cards_details > .skin-text > div.limit > p, div#cards_details > .skin-text hr {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* card property value */
div.limit div.row {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* card preview spacing */
div.card-preview > div.card {
    margin-top: 0;
}

/* end cards details */

/* begin keywords table */
/* keywords list subsection */

/* keywords table */
div#keywords table {
    margin: 1ex auto;
}

/* table cell text */
div#keywords table th, div#keywords table td {
    padding: 1ex;
}

/* keyword hyperlink */
div#keywords table tr.table-row:hover a {
    color: inherit;
}

/* keyword description */
.description {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    text-align: justify;
}

/* end keywords table */

/* begin keyword details */
/* keyword details subsection */

/* navigation */
div#keyword-details > h3 {
    margin: 0;
}

/* heading */
div#keyword-details h4 {
    margin: 0 0 1ex 0;
}

/* heading spacing */
div#keyword-details * + h4 {
    margin-top: 1ex;
}

/* keyword data */
div#keyword-details .skin-text {
    margin: 1ex auto 1ex auto;
    padding: 1ex;
}

/* set distance between elements */
div#keyword-details .skin-text hr {
    margin-top: 1ex;
}

/* keyword insignia */
.description > img.insignia {
    margin-right: 1ex;
}

/* keyword lore */
.lore {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    text-align: justify;
}

/* keyword lore spacing */
.lore > p + p {
    margin-top: 1ex;
}

/* end keyword details */
