/***********************************************
 * MArcomage CSS stylesheet - concepts section *
 ***********************************************/

/* begin concepts */
/* concepts section layout */
div#concepts {
    text-align: center;
}

div#concepts .responsive-table {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

/* card display within table */
div#concepts .responsive-table div.card {
    margin-left: 1ex;
    margin-right: 1ex;
    display: inline-block;
}

/* filters */
div#concepts .filters {
    margin: 1ex 0 2ex 2ex;
}

/* note layout */
div.note {
    text-align: justify;
}

/* highlight new concept */
p.highlighted {
    color: red;
}

/* end concepts */

/* begin concepts edit */
/* #concepts edit subsection */

/* card edit form */
div.concepts-edit > .skin-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1ex;
    max-width: 30em;
    padding: 1ex;
}

/* set distance between elements */
div.concepts-edit > .skin-text > p, div.concepts-edit > .skin-text > div.limit > p, div.concepts-edit > .skin-text hr {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* set distance between BBcode buttons */
div.concepts-edit > .skin-text div.bb-code-buttons > button {
    margin-left: 0;
    margin-bottom: 1ex;
}

/* input form layout */
div.limit > div.row {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* card preview spacing */
div.card-preview > div.card {
    margin-top: 0;
}

/* end concepts details */
