/***********************************************
 * MArcomage CSS stylesheet - concepts section *
 ***********************************************/

/* begin concepts */

div#concepts /* concepts section layout */
{
	min-width: 1045px;
	text-align: center;
}

div#concepts > h3, div#concepts_edit > h3 /* concepts heading layout */
{
	margin: 0ex;
}

div#concepts_table /* concepts list layout */
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

div#concepts_table th > p, div#concepts td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

div#concepts_table > table /* concepts table */
{
	width: 100%;
}

div.note /* note layout */
{
	text-align: justify;
}

p.highlighted /* highlight new concept */
{
	color: red;
	font-weight: bold;
}

/* end concepts */

/* begin concepts edit */

div#concepts_edit /* #concepts edit subsection */
{
	min-width: 1045px;
}

div#card_edit /* card edit formular */
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 1ex;
	width: 50%;
	font-weight: bold;
	padding: 1ex;
}

div#card_edit > p, div#card_edit > div.limit > p, div#card_edit hr /* set distance between elements */
{
	margin-top: 1ex;
	margin-bottom: 1ex;
}

div#card_edit input + input /* set distance between elements */
{
	margin-left: 1ex;
}

div.limit /* input formular layout */
{
	width: 20em;
}

div.limit > p > span /* float inputs to the right */
{
	float: right;
}

div.card_preview /* card preview layout */
{
	float: right;
	font-weight: normal;
}

/* end concepts details */
