/***********************************************
 * MArcomage CSS stylesheet - concepts section *
 ***********************************************/

/* begin concepts */

div#concepts /* concepts section layout */
{
	min-width: 1045px;
	text-align: center;
}

div#concepts table /* concepts list layout */
{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

div#concepts table th > p, div#concepts table td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

div#concepts .filters /* filters */
{
	margin: 1ex 0ex 2ex 2ex;
}

div.note /* note layout */
{
	text-align: justify;
}

p.highlighted /* highlight new concept */
{
	color: red;
	font-weight: bold;
}

/* end concepts */

/* begin concepts edit */

div#concepts_edit /* #concepts edit subsection */
{
	min-width: 1045px;
}

div#concepts_edit > .skin_text /* card edit formular */
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 1ex;
	width: 50%;
	padding: 1ex;
}

div#concepts_edit > .skin_text > p, div#concepts_edit > .skin_text > div.limit > p, div#concepts_edit > .skin_text hr /* set distance between elements */
{
	margin-top: 1ex;
	margin-bottom: 1ex;
	font-weight: bold;
}

div#concepts_edit > .skin_text input + input, div#concepts_edit > .skin_text button + button /* set distance between elements */
{
	margin-left: 1ex;
}

div#concepts_edit > .skin_text div.BBcodeButtons > button /* set distance between BBcode buttons */
{
	margin-left: 0ex;
	margin-bottom: 1ex;
}

div#concepts_edit > .skin_text input[type="file"] /* set distance between elements */
{
	margin-left: 1ex;
	margin-right: 1ex;
}

div#concepts_edit > .skin_text > a.button /* set distance between hyperlink buttons */
{
	margin-right: 1ex;
}

div.limit /* input formular layout */
{
	width: 20em;
}

div.limit > p > span /* float inputs to the right */
{
	float: right;
}

div.card_preview /* card preview layout */
{
	float: right;
}

/* end concepts details */
