/* Generic context menu styles */
#cursorMessageDiv {
	font-size: large;
	background-color: black;
	border: 2px outset black;
	border-radius: 7px;
	position: absolute;
	z-index: 99999;
	padding: 2px;
	margin: 0px;
	display: none;
}