/********************************************
 * MArcomage CSS stylesheet - decks section *
 ********************************************/

/* begin decklist */

div#decks /* center buttons in deck list */
{
	text-align: center;
}

div#decks input /* set distance between deck access buttons */
{
	margin-top: 3ex;
}

/* end decklist */

/* begin filters */

div.filters /* filters subsection */
{
	text-align: left;
	/*min-width: 120ex;*/
	min-width: 1045px;
	padding-bottom: 0.5ex;
	margin-left: 5ex;
}

div.filters + hr /* horizontal line that separates the filters from the rest of the section */
{
	/*min-width: 120ex;*/
	min-width: 1045px;
	margin: 0ex;
}

div#cost_per_turn /* avg cost per turn indicator layout */
{
	float: right;
	margin-right: 5ex;
	-moz-border-radius: 7px;
	padding: 0ex 0.5ex 0ex 0.5ex;
}

div#cost_per_turn > b /* set distance between avg cost per turn indicators */
{
	margin-left: 0.5ex;
}

div#tokens /* tokens layout */
{
	float: right;
	margin-right: 5ex;
}

/* end filters */

/* begin deck */

div.scroll > table /* set distance of the card pool from the rest of the content */
{
	margin-bottom: 1ex;	
}

div.scroll /* card pool layot */
{
	overflow: auto;
	text-align: center;
	width: 94%;
	margin: 0% 3% 0% 3%;
	/*min-width: 114ex;*/
	min-width: 950px;
}

table.deck /* deck table layout */
{
	text-align: center;
	margin: 1ex 3% 1ex 3%;
	width: 94%;
}

table.deck th > p /* deck table header */
{
	font-size: large;
	padding: 1ex;
	background-color: #6495ed; /* light blue */
}

table.deck input /* set distance of "return" buttons in the deck table */
{
	margin-bottom: 1ex;
}

table.deck > tr > td + td /* deck inner borders */
{
	border-left: thin solid #6495ed; /* light blue */
}

table.deck th:first-child > p /* common cards heading */
{
	color: lime;
}

table.deck th:first-child + th > p /* uncommon cards heading */
{
	color: #8b0000; /* DarkRed */
}

table.deck th:first-child + th + th > p /* rare cards heading */
{
	color: yellow;
}

/* end deck */
