/********************************************
 * MArcomage CSS stylesheet - decks section *
 ********************************************/

/* begin decklist */

div#decks /* center buttons in deck list */
{
	min-width: 1045px;
	text-align: center;
	margin-bottom: 1ex;
}

div#decks > table /* decks list layout */
{
	margin-left: auto;
	margin-right: auto;
}

div#decks > table th > p, div#decks > table td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

/* end decklist */

/* begin filters */

div.filters, div.misc /* filters and misc part */
{
	text-align: left;
	/*min-width: 120ex;*/
	min-width: 1045px;
	padding-bottom: 0.5ex;
	margin-left: 5ex;
}

div#cost_per_turn /* avg cost per turn indicator layout */
{
	float: right;
	margin-right: 5ex;
	border-radius: 7px;
	padding: 0ex 0.5ex 0ex 0.5ex;
}

div#cost_per_turn > b, p.deck_stats > b /* set distance between avg cost per turn indicators */
{
	margin-left: 0.5ex;
}

p.deck_stats /* deck statistics */
{
	float: right;
	margin-right: 1ex;
	border-radius: 7px;
	padding: 0ex 0.5ex 0ex 0.5ex;
}

div#tokens /* tokens layout */
{
	float: right;
	margin-right: 5ex;
}

/* end filters */

/* begin deck */

div#card_pool > table /* position card pool in the center */
{
	margin-left: auto;
	margin-right: auto;
}

div#card_pool /* card pool layout */
{
	text-align: center;
	/*min-width: 114ex;*/
	min-width: 950px;
}

.hidden /* empty slot layout */
{
	display: none;
}

table.deck /* deck table layout */
{
	text-align: center;
	margin: 1ex 3% 1ex 3%;
	width: 94%;
}

table.deck th > p /* deck table header */
{
	font-size: large;
	padding: 1ex;
	background-color: #6495ed; /* light blue */
}

table.deck button /* set distance of "return" buttons in the deck table */
{
	margin-bottom: 1ex;
}

table.deck > tr > td + td /* deck inner borders */
{
	border-left: thin solid #6495ed; /* light blue */
}

table.deck th:first-child > p /* common cards heading */
{
	color: lime;
}

table.deck th:first-child + th > p /* uncommon cards heading */
{
	color: #8b0000; /* DarkRed */
}

table.deck th:first-child + th + th > p /* rare cards heading */
{
	color: yellow;
}

.taken > div.karta /* taken card in card pool */
{
	opacity: 0.6;
}

/* end deck */
