/********************************************
 * MArcomage CSS stylesheet - decks section *
 ********************************************/

/* begin deck list */

/* center buttons in deck list */
div.decks {
    text-align: center;
    margin-bottom: 1ex;
}

/* decks navigation (top) */
div.decks-nav-bar {
    margin-top: 1ex;
    text-align: center;
    margin-bottom: 1ex;
}
div.decks-nav-bar > * {
    vertical-align: middle;
    display: inline-block;
}
div.decks-nav-bar > div {
    padding: 0.5ex 1ex 0.5ex 1ex;
}

/* decks navigation (bottom) */
.responsive-table + div.decks-nav-bar {
    margin: 0.5ex 0 0 0;
}

/* end deck list */

/* begin filters */

/* filters and misc part */
div.deck-options {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    text-align: center;
}
div.deck-options > * {
    vertical-align: middle;
}
div.deck-options > * + * {
    margin-left: 0.5ex;
}

/* avg cost per turn indicator layout */
div.cost-per-turn {
    display: inline-block;
    border-radius: 7px;
    padding: 0.5ex 0.8ex 0.5ex 0.8ex;
}

/* set distance between avg cost per turn indicators */
div.cost-per-turn > b, p.deck-stats > b {
    margin-left: 0.5ex;
}

/* deck statistics */
p.deck-stats {
    display: inline-block;
    border-radius: 7px;
    padding: 0.5ex 0.8ex 0.5ex 0.8ex;
}

div#tokens {
    display: inline-block;
}

div.back-to-game {
    margin-top: 1ex;
    text-align: center;
}

/* end filters */

/* begin deck */

/* card pool layout */
div#card-pool {
    text-align: center;
}

div#card-pool > div {
    display: inline-block;
    vertical-align: top;
}

/* locked card container */
div#card-pool > div > div[id*="card_"] {
    position: relative
}

/* locked card */
div#card-pool .locked-card {
    position: absolute;
    top: 41px;
    left: 11px;
    font-family: arial, sans-serif;
    font-size: large;
    color: red;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    transform: rotate(-45deg);
}

/* empty slot layout */
.hidden {
    display: none;
}

/* deck table header */
p.deck-header {
    font-family: arial, sans-serif;
    font-size: large;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    background-color: #6495ed; /* light blue */
    text-align: center;
    text-transform: capitalize;
}

/* common cards heading */
p.deck-header.common {
    color: lime;
}

/* uncommon cards heading */
p.deck-header.uncommon {
    color: #8b0000; /* DarkRed */
}

/* rare cards heading */
p.deck-header.rare {
    color: yellow;
}

/* taken card in card pool */
.taken > div.card {
    opacity: 0.6;
}

#deck-note-dialog {
    display: none;
}

/* end deck */

/* begin shared deck details */

/* shared deck data */
div#deck-shared .skin-text {
    margin: 1ex auto 1ex auto;
    max-width: 30em;
}

/* deck note */
div#deck-shared .skin-text p {
    text-align: justify;
    margin: 1ex 1.5ex 1ex 1.5ex;
}

/* deck table layout */
div.deck {
    margin-top: 1ex;
}

div.deck .skin-label {
    margin-bottom: 1ex;
}

div.deck .deck-cards {
    padding-left: 2ex;
    padding-right: 2ex;
    padding-bottom: 1ex;
    text-align: center;
}

div.deck .deck-cards .card {
    margin-left: auto;
    margin-right: auto;
}

/* set distance of "return" buttons in the deck table */
div.deck .deck-cards button {
    margin-bottom: 1ex;
}


/* end shared deck details */

/* begin deck note */
/* deck note subsection */

/* deck note layout */
div.deck-note > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 30em;
    padding: 1ex;
}

/* set distance between elements */
div.deck-note > div > * {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

/* end deck note */
