/********************************************
 * MArcomage CSS stylesheet - error section *
 ********************************************/

div#error-page {
    padding-bottom: 5ex;
}
div#error-page > div {
    text-align: center;
}
div#error-page p {
    margin-top: 4ex;
    margin-bottom: 4ex;
}

div#error-page .error-details {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}