/********************************************
 * MArcomage CSS stylesheet - forum section *
 ********************************************/

/* begin section */

/* forum layout */
div.forum {
    text-align: center;
}

/* forum content layout */
div.forum div.skin-text {
    margin-bottom: 1ex;
}

div.forum .filters {
    margin-bottom: 0.5ex;
}

/* standard hyperlink */
div.forum a {
    text-decoration: none;
    color: inherit;
}

/* standard hyperlink hover layout */
div.forum .row .table-row:hover a {
    text-decoration: underline;
}

/* section heading layout - description */
div.forum .row div > h5 {
    font-size: medium;
    margin: 1ex 0 1ex 1ex;
}

/* section heading layout - title */
div.forum .row div > h5 > a {
    font-size: large;
    margin-left: 1ex;
}

/* section heading hover layout - title */
div.forum .row div:hover > h5 > a {
    text-decoration: underline;
}

/* section heading layout - right side with buttons */
div.forum div.navigation, div#thread-details div.navigation {
    margin: 1ex 0 1ex 0;
}

/* set distance between inputs in the right part of the thread navigation menu */
div.forum div.navigation > * + *, div#thread-details div.navigation > * + * {
    margin-left: 0.5ex;
}

/* section heading layout - right side with buttons - set distance between inputs */
div.forum div > h5 + p > * + * {
    margin-left: 2ex;
}

/* forum table header layout */
div.forum th > p {
    margin: 1ex;
}

/* info picture layout (locked thread) */
div.forum img, div#thread-details img {
    vertical-align: middle;
}

/* highlighted post layout - new post date */
.new {
    color: red;
}

/* end section */

/* begin forum_new_edit */

/* same CSS for new post, new thread, edit post, edit thread */

/* forum edit layout */
div.forum-new-edit > div {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding: 1ex;
}

/* set distance between elements */
div.forum-new-edit > div > * {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

/* input layout */
div.forum-new-edit > div > p > button {
    margin-left: 1ex;
    font-size: medium;
}

div.forum-new-edit > div > p > select {
    margin-left: 1ex;
}

/* end forum_new_edit */

/* begin thread details */

/* thread details layout */
div#thread-details {
    text-align: center;
}

/* thread details heading layout */
div#thread-details > h3 {
    margin: 0;
}

/* thread navigation menu - heading description */
div.thread-bar h5 {
    font-size: medium;
    margin: 1ex 0 1ex 1ex;
}

/* thread navigation menu - heading text */
div.thread-bar h5 > a {
    font-size: large;
    text-decoration: none;
    color: inherit;
}

/* thread navigation menu - spacing */
div.thread-bar h5 > * {
    margin-left: 1ex;
}

/* thread navigation menu - hover layout */
div.thread-bar:hover h5 > a {
    text-decoration: underline;
}

/* post list layout */
div#post-list > div {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* post header layout */
div#post-list div.post-header {
    font-size: medium;
    margin: 1ex;
}

div#post-list div.post-author, div#post-list div.post-buttons {
    margin-top: 0.5ex;
}

/* permalink layout */
div#post-list a.permalink {
    margin-left: 1ex;
}

/* post layout - avatar part */
div#post-list div.post-avatar {
    margin: 1ex;
}

/* post layout - content part */
div#post-list div.post-content {
    margin: 1ex;
}

/* post layout - inner content part */
div#post-list div.post-content > div {
    text-align: justify;
    max-width: 50em;
}

/* end thread details */
