/********************************************
 * MArcomage CSS stylesheet - forum section *
 ********************************************/

/* begin section */

div#forum /* forum layout */
{
	text-align: center;
	min-height: 500px;
	min-width: 1045px;
}

div#forum h4 + div /* forum content layout */
{
	margin: 2ex 1ex 1ex 1ex;
}

div#forum > h3 /* forum title layout */
{
	margin: 0ex;
}

div#forum > h4 /* forum subtitle layout */
{
	margin: 0ex;
	font-size: large;
}

div#forum a /* standard hyperlink */
{
	text-decoration: none;
	color: inherit;
}

div#forum tr.table_row:hover a /* standard hyperlink hover layout */
{
	text-decoration: underline;
}

div#forum tr div > h5 /* section heading layout - description */
{
	font-size: medium;
	float: left;
	width: 52%;
	text-align: left;
	margin: 1ex 0ex 1ex 1ex;
}

div#forum tr div > h5 > a /* section heading layout - title */
{
	font-size: large;
	margin-left: 1ex;
}

div#forum tr div:hover > h5 > a /* section heading hover layout - title */
{
	text-decoration: underline;
}

div#forum tr div > h5 + p /* section heading layout - right side with buttons */
{
	float: right;
	width: 45%;
	text-align: right;
	margin: 1ex 1ex 1ex 0ex;
}

div#forum tr div > h5 + p > * + *  /* section heading layout - right side with buttons - set distance between inputs */
{
	margin-left: 2ex;
}

div#forum tr div > h5 + p + div /* end section heading */
{
	clear: both;
}

div#forum table /* forum table layout */
{
	width: 100%;
}

div#forum th > p /* forum table header layout */
{
	margin: 1ex;
	font-weight: bold;
}

div#forum td > p /* forum table cell layout */
{
	margin-bottom: 0.5ex;
	margin-top: 0.5ex;
}

div#forum img, div#thread_details img /* info picture layout (locked thread) */
{
	vertical-align: middle;
}

button.search_button /* search button layout */
{
	float: right;
}

.headings /* thread headings */
{
	text-align: left;
}

/* end section */

/* begin forum_new_edit */
/* same CSS for new post, new thread, edit post, edit thread */

div#forum_new_edit /* forum edit layout */
{
	min-width: 1045px;
}

div#forum_new_edit > div /* forum edit layout */
{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	font-weight: bold;
	padding: 1ex;
}

div#forum_new_edit > div > * /* set distance between elements */
{
	margin-bottom: 1ex;
	margin-top: 1ex;
}

div#forum_new_edit > div > p > button /* input layout */
{
	margin-left: 1ex;
	font-size: medium;
}

/* end forum_new_edit */

/* begin thread details */

div#thread_details /* thread details layout */
{
	text-align: center;
	min-height: 500px;
	min-width: 1045px;
}

div#thread_details > h3 /* thread details heading layout */
{
	margin: 0ex;
}

div#thread_details > h4 /* thread details subtitle layout */
{
	margin: 0ex;
	font-size: large;
}

div.thread_bar /* thread navigation menu layout (top and bottom) */
{
	margin: 1ex;
}

div.thread_bar > h5 /* thread navigation menu - heading description */
{
	float: left;
	width: 35%;
	font-size: medium;
	text-align: left;
	margin: 1ex 0ex 1ex 1ex;
}

div.thread_bar > h5 > a  /* thread navigation menu - heading text */
{
	font-size: large;
	margin-left: 1ex;
	text-decoration: none;
	color: inherit;
}

div.thread_bar:hover > h5 > a  /* thread navigation menu - hover layot */
{
	text-decoration: underline;
}

div.thread_bar > p /* thread navigation menu - right part with buttons */
{
	float: right;
	width: 62%;
	text-align: right;
	margin: 1ex 1ex 1ex 0ex;
}

div.thread_bar > p > * + * /* set distance between inputs in the right part of the thread navigation menu */
{
	margin-left: 2ex;
}

div#post_list > div /* post list layout */
{
	margin: 1ex;
}

div#post_list > div > div:first-child /* post layout - part with avatar */
{
	float: left;
	width: 14%;
	text-align: left;
	margin: 1ex 0ex 1ex 1ex;
}

div#post_list > div > div:first-child > h5 /* post layout - part with avatar - heading */
{
	font-size: medium;
	margin-bottom: 1ex;
}

div#post_list > div > div:first-child > p /* post layout - part with avatar - text */
{
	font-size: small;
	margin-top: 1ex;
}

div#post_list > div > div:first-child + div /* post layout - content part */
{
	float: right;
	width: 84%;
	text-align: justify;
}

div#post_list > div > div:first-child + div > div  /* post layout - content part - set distance between posts */
{
	margin: 1ex 2ex 2ex 0ex;
}

div#post_list > div > div.clear_floats + div /* post layout - post side borders */
{
	text-align: right;
}

div#post_list > div > div.clear_floats + div > button /* post layout - post inputs */
{
	margin: 0.5ex 1ex 1ex 0ex;
}

p.new /* post layout - new post date */
{
	color: red;
	font-weight: bold;
}

/* end thread details */
