/********************************************
 * MArcomage CSS stylesheet - games section *
 ********************************************/

/* begin game list */

/* game section layout */
div#games {
    text-align: center;
}

/* section heading */
div#games h3 {
    margin: 0;
}

/* table layout */
div#games .responsive-table {
    margin-top: 0.5ex;
}

/* checkbox layout */
div#games input[type="checkbox"] {
    padding: 0.5ex;
    margin: 0 1ex 0 0;
    border: thin solid;
}

/* active games subsection */
div#active-games {
    padding-left: 1ex;
    padding-right: 1ex;
    margin-bottom: 1ex;
}

/* hosted games subsection */
div#hosted-games {
    padding-left: 1ex;
    padding-right: 1ex;
    margin-bottom: 1ex;
}

/* AI challenges section */
div#ai-challenges {
    margin-left: 1ex;
    margin-right: 1ex;
}

/* AI challenges list */
div#ai-challenges > div {
    margin: 1ex auto 1ex auto;
    padding: 1ex;
    max-width: 50em;
}

/* AI challenge heading */
div#ai-challenges h4 {
    margin: 0 0 0.5ex 0;
}

/* AI challenge body */
div#ai-challenges p {
    text-align: justify;
}

/* subsection heading */
div#active-games h3, div#hosted-games h3 {
    margin: 2ex;
}

/* distance between subsection buttons */
div#hosted-games > p > a.button + a.button {
    margin-left: 0.5ex;
}

/* filters layout */
div#games .filters {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* misc layout */
div#games .misc {
    margin-top: 1ex;
}

/* color for text information about the game ("game has ended") */
p.ended-game {
    font-style: italic;
}

/* flags column */
p.flags {
    text-align: left;
}

/* end game list */

/* begin card flags */

/* card flags area */
div.flag-space {
    margin-top: 0.5ex;
}

/* new card flag (indicated above a new card) */
span.new-card {
    text-transform: uppercase;
    border: ridge #6495ed;
    border-radius: 7px;
    font-size: x-small;
    padding: 0 1ex 0 1ex;
}

/* card flag */
p.flag {
    text-transform: uppercase;
    border: ridge #6495ed;
    border-radius: 7px;
    font-size: x-small;
    max-width: 86px;
    margin-left: auto;
    margin-right: auto;
}

/* played card tag */
p.played {
    border-color: green;
}

p.played > span {
    text-transform: none;
}

/* discarded card flag */
p.discarded {
    border-color: red;
}

/* end card flags */

/* begin game */
div.game > div.game-display {
    padding-top: 1ex;
    padding-bottom: 1ex;
    background: no-repeat center center;
    background-size: cover;
}

/* breakpoint specific layout */
@media screen and (max-width: 991px) {
    /* hide background image */
    div.game > div.game-display {
        background-size: 0 0;
    }

    /* hide tower and wall display */
    div.tower-display, div.wall-display {
        display: none;
    }

    /* facilities and stock are displayed next to each other */
    .stats > div {
        display: inline-block;
        vertical-align: top;
    }
}

div.game .row > div > * {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

div.game .hand, div.game .row > div {
    text-align: center;
}

div.game .hand > div {
    display: inline-block;
    vertical-align: top;
}

/* add extra margin when cards are displayed in the "hand" part of the game section*/
div.game .hand div.card, div.game .hand div.hidden-card {
    margin: 1.5ex 1ex 0.7ex 1ex;
}


div.game .empire-info > div {
    display: inline-block;
    vertical-align: bottom;
}

div.game .empire-info > div.card-list {
    vertical-align: top;
    min-width: 98px;
}

/* radio button */
div.game input[type="radio"] {
    padding: 1ex;
    margin: 0;
    border: thin solid;
}

/* facilities text */
p.facility {
    color: white;
    padding: 0;
    margin: 0 0 0 5px;
    height: 54px;
    line-height: 54px;
    font-size: 24px;
}

/* resources text */
p.resource {
    color: black;
    padding: 0;
    margin: 0 0 0 5px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}

p.info-label.castle {
    margin-top: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
}

/* in game buttons */
.buttons {
    text-align: center;
}

.buttons > * + * {
    margin-left: 1ex;
}

/* facilities/resources layout */
div.stock-info {
    background: no-repeat center center;
    height: 70px;
    width: 78px;
    text-align: left;
}

/* player and opponent names */
div.game .token-counter.player-label {
    font-size: small;
    font-family: arial, sans-serif;
}

div.game .token-counter > img {
    margin-bottom: 0.5ex;
}

/* quarry/bricks layout image */
div.stock-info.bricks {
    background-image: url('../img/game/bricks.png');
}

/* magic/gems layout image */
div.stock-info.gems {
    background-image: url('../img/game/gems.png');
}

/* dungeon/recruits layout image */
div.stock-info.recruits {
    background-image: url('../img/game/recruits.png');
}

/* flag image*/
.stats > h5 > img {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

/* attributes changes layout */
span.changes {
    margin-left: 0.3ex;
    font-size: x-small;
    font-weight: normal;
}

/* information label used in multiple instances in game section */
p.info-label {
    text-align: center;
    border-radius: 7px;
    font-size: medium;
}

/* card mode selector */
select.card-modes {
    margin-left: 0.5ex;
}

/* card history label */
p.history-label {
    text-transform: uppercase;
    font-size: x-small;
}

/* history of played and discarded cards */
div.history, div.discarded-cards-list {
    overflow: auto;
    width: 98px;
    height: 85%; /* prevents Chrome display bug (overflow related) */
    margin-left: auto;
    margin-right: auto;
}

div.discarded-cards-list {
    width: 99px;
}

td.discarded-cards-separator {
    border-right: thin solid yellow;
}

/* chat section layout */
div.chat-section {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 2ex;
    padding-right: 2ex;
}

/* chat box window */
div.chat-box {
    overflow: auto;
    max-height: 11.5ex;
    margin-top: 0.5ex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 0.5ex 1ex 1ex 1ex;
    text-align: left;
    max-width: 50em;
}

/* chat box message content */
div.chat-box > div {
    margin-left: 0.5ex;
}

/* chat box inputs */
div#chat-inputs {
    margin-top: 1ex;
}
div#chat-inputs > * {
    vertical-align: middle;
}

/* chat message input */
div.chat-section textarea {
    font-size: medium;
    margin-top: 1ex;
    max-width: 50em;
}

/* chat message list */
div#chat-dialog > div {
    overflow: auto;
    height: 20em;
}

/* chat message */
div.chat-message {
    max-width: 50em;
    padding-top: 0.5ex;
    padding-bottom: 1ex;
    margin-left: 0.5ex;
}

/* tower display */
div.tower-display {
    margin: 0 1ex 0 1ex;
}

div.tower-display > div {
    background: url('../img/game/tower_body.png') repeat-y bottom left;
    width: 37px;
    margin-left: 14px;
}

div.tower-display > img, div.wall-display > img {
    display: block
}

/* wall display */
div.wall-display > div {
    background: url('../img/game/wall_body.png') repeat-y bottom left;
    width: 19px;
}

div.game .game-state {
    display: inline-block;
    padding-left: 1ex;
    padding-right: 1ex;
}

/* token counter layout */
div.game .empire-info > div.token-list {
    display: block;
}

div.token-list > p.token-counter {
    padding: 0.5ex 1ex 0.5ex 1ex;
    margin: 1ex 0.5ex 0 0.5ex;
    border-radius: 7px;
    font-size: small;
    text-align: center;
    display: inline-block;
}

/* token counter value */
div.token-list > p.token-counter > span {
    margin-left: 0.5ex;
}

/* game mode flags */
.game-mode-flags {
    display: inline-block;
}

.game-mode-flags > img {
    margin: 0;
}

/* unplayable card */
div.unplayable > div.card {
    opacity: 0.6;
    transition: opacity 200ms;
}

div.unplayable > div.card:hover {
    opacity: 1;
}

/* selected card */
div.selected-card {
    border: double black;
}

/* game cheat menu */
div.game div#game-cheat-menu {
    text-align: center;
}

/* replays navigation bar */
div.game p.information-line > * + * {
    margin-left: 0.5ex;
}

#games > .responsive-table {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

div.game button[name="slideshow-play"], div.game button[name="slideshow-pause"] {
    display: none;
}

#game-note-dialog, #chat-dialog {
    display: none;
}

/* end game */

/* begin game note */
/* game note subsection */

/* game note layout */
div.game-note > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 30em;
    padding: 1ex;
}

/* set distance between elements */
div.game-note > div > * {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

/* end message details */
