/********************************************
 * MArcomage CSS stylesheet - games section *
 ********************************************/

/* begin gamelist */

div#games /* game section layout */
{
	min-width: 1045px;
	text-align: center;
}

div#games h3 /* section heading */
{
	margin: 0ex;
}

div#games table /* table layout */
{
	margin: 0.5ex auto 1ex auto;
}

div#games table th > p, div#games table td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

div#games input[type="checkbox"] /* checkbox layout */
{
	padding: 0.5ex;
	margin: 0ex 2ex 0ex 0ex;
	border-style: solid;
	border-width: thin;
}

div#active_games /* active games subsection */
{
	float: left;
	width: 61%;
	margin: 0ex 0ex 1ex 1ex;
}

div#hosted_games /* hosted games subsection */
{
	float: right;
	width: 36%;
	margin: 0ex 1ex 1ex 0ex;
}

div#active_games h3, div#hosted_games h3 /* subsection heading */
{
	margin: 2ex;
}

div#hosted_games > p > a.button + a.button /* distance between subsection buttons */
{
	margin-left: 2ex;
}

div#games .filters /* filters layout */
{
	margin: 1ex 0ex 2ex 2ex;
}

div#games .misc /* misc layout */
{
	margin-top: 1ex;
}

p.ended_game /* color for text information about the game ("game has ended") */
{
	font-style: italic;
}

p.flags /* flags column */
{
	text-align: left;
}

/* end gamelist */

/* begin card flags */

div.flag_space /* card flags area */
{
	width: 90px;
	margin-top: 0.5ex;
}

span.newcard /* new card flag (indicated above a new card) */
{
	border-color: #6495ed;
	border-style: ridge;
	-moz-border-radius: 7px;
	font-size: x-small;
	padding: 0ex 1ex 0ex 1ex;
	float: left;
}

img.revealed /* reveal flag */
{
	float: right;
}

p.flag /* card flag */
{
	border-color: #6495ed;
	margin-top: 1ex;
	border-style: ridge;
	-moz-border-radius: 7px;
	font-size: x-small;
	max-width: 86px;
}

p.played /* played card tag */
{
	border-color: green;
}

p.discarded /* discarded card flag */
{
	border-color: red;
}

/* end card flags */

/* begin game */

div#game
{
	min-width: 1045px;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

div#game input[type="radio"] /* radio button */
{
	padding: 1ex;
	margin: 0ex;
	border-style: solid;
	border-width: thin;
}

p.facility /* facilites text */
{
	color: white;
	padding: 0.9ex 0ex 0ex 0.6ex;
	font-size: x-large;
}

p.resource /* resources text */
{
	color: black;
	margin: 2ex 0ex 0ex 0.8ex;
	font-weight: bold;
	font-size: medium;
}

tr.buttons > td /* in game buttons */
{
	text-align: center;
}

td.stats > div /* facilites/resources layout */
{
	background-position: center center;
	background-repeat: no-repeat;
	height: 70px;
	width: 78px;
	text-align: left;
}

td.stats > div + h5 /* player and opponent names */
{
	font-weight: bold;
	margin: 1ex 0ex 0.5ex 0ex;
	font-size: medium;
	text-align: center;
}

td.stats > div:first-child /* quarry/bricks layout image */
{
	background-image: url('../img/game/bricks.png');
}

td.stats > div:first-child + div /* magic/gems layout image */
{
	background-image: url('../img/game/gems.png');
}

td.stats > div:first-child + div + div /* dungeon/recruits layout image */
{
	background-image: url('../img/game/recruits.png');
}

td.stats > h5 > img /* flag image*/
{
	margin-left: 0.5ex;
	margin-right: 0.5ex;
}

span.changes /* attributes changes layout */
{
	margin-left: 0.3ex;
	font-size: x-small;
	font-weight: normal;
}

p.info_label /* information label used in multiple instances in game section */
{
	text-align: center;
	-moz-border-radius: 7px;
	font-size: medium;
	font-weight: bold;
}

select.card_modes /* card mode selector */
{
	margin-left: 2.5ex;
}

p.history_label /* card history label */
{
	font-size: small;
	margin-top: 1ex;
}

div.history /* history of played cards */
{
	overflow: auto;
	width: 98px;
}

div.chatsection /* chat section layout */
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 61em;
}

div.chatbox /* chatbox window */
{
	overflow: auto;
	max-height: 11.5ex;
	margin-top: 0.5ex;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 7px;
	padding: 0ex 0.5ex 0.5ex 0.5ex;
	text-align: left;
	width: 51em;
}

input.chatboard /* chatbox input elements */
{
	font-size: small;
	padding: 0ex 0.5ex 0ex 0.5ex;
}

div#chat_inputs /* chatbox inputs */
{
	margin-top: 1ex;
}

div#chat_inputs > input[type="text"] /* chat message input */
{
	font-size: medium;
	margin-right: 2ex;
}

div.towerbody /* body part of the tower */
{
	background-image: url('../img/game/tower_body.png');
	background-position: bottom left;
	background-repeat: repeat-y;
	width: 37px;
}

div.wallbody /* body part of the wall */
{
	background-image: url('../img/game/wall_body.png');
	background-position: bottom left;
	background-repeat: repeat-y;
	width: 19px;
}

p.token_counter /* token counter layout */
{
	padding: 0.3ex 0.2ex 0.3ex 0.2ex;
	margin: 1ex 0.5ex 0ex 0.5ex;
	-moz-border-radius: 7px;
	font-size: small;
	text-align: center;
}

p.token_counter > span /* token counter value */
{
	margin-left: 0.5ex;
}

td.game_mode_flags > img /* game mode flags */
{
	margin: 0ex;
}

div.unplayable > div.karta /* unplayable card */
{
	opacity: 0.6;
}

div.selected_card /* selected card */
{
	border-style: double;
	border-color: black;
}

/* end game */

/* begin game note */

div#game_note /* game note subsection */
{
	min-width: 1045px;
}

div#game_note > div /* game note layout */
{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	font-weight: bold;
	padding: 1ex;
}

div#game_note > div > * /* set distance between elements */
{
	margin-bottom: 1ex;
	margin-top: 1ex;
}

/* end message details */
