/*********************************************
 * MArcomage CSS stylesheet - general styles *
 *********************************************/

html
{
	font-family: times, serif;
	padding: 0ex;
	margin: 0ex;
}

hr
{
	border-style: solid;
	border-width: thin;
	padding: 0ex;
	margin: 0ex;
	/* override defaults */
}

input, button
{
	font-size: x-small;
	color: black;
	border: 2px outset black;
	-moz-border-radius: 7px;
	padding: 0.4ex 1.2ex 0.4ex 1.2ex;
	vertical-align: middle;
}

a.button /* hyperlink button */
{
	font-size: x-small;
	font-weight: bold;
	color: black;
	border: 2px outset black;
	-moz-border-radius: 7px;
	padding: 0.4ex 1.2ex 0.4ex 1.2ex;
	vertical-align: middle;
	text-decoration: none;
	font-family: arial, sans-serif;
}

a.button:link, a.button:visited /* default color for hyperlink button */
{
	color: black;
}

a.profile, a.profile:link, a.profile:visited /* player profile link */
{
	text-decoration: none;
	color: inherit;
}

.disabled /* disabled hyperlink button */
{
	font-size: x-small;
	font-weight: bold;
	color: gray;
	border: 2px outset black;
	-moz-border-radius: 7px;
	padding: 0.4ex 1.2ex 0.4ex 1.2ex;
	vertical-align: middle;
	font-family: arial, sans-serif;
}

body,p,h5 /* override defaults */
{
	padding: 0ex;
	margin: 0ex;
}

h1
{
	color: red;
	text-align: center;
}

h2,h3
{
	text-align: center;
}

ul
{
	padding-left: 0ex;
	margin-left: 2ex;
}

select
{
	font-size: x-small;
	color: black;
	background-color: #6495ed;
	border: thin solid black;
	vertical-align: middle;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

th
{
	margin: 0ex;
	padding: 0ex;
}

th button /* ordering buttons in the table header */
{
	margin-left: 2ex;
}

textarea /* textarea layout */
{
	width: 100%;
	border: 2px inset black;
	-moz-border-radius: 7px;
}

table.centered /* centered table */
{
	margin-left: auto;
	margin-right: auto;
}

p.information_line /* information message layout */
{
	text-align: center;
	padding-bottom: 0.5ex;
	font-weight: bold;
}

p.blank_line /* when no information is displayed, display blank line */
{
	padding-bottom: 0.5ex;
	margin: 0ex;
	height: 1.2em;
	/*min-width: 120ex;*/
	min-width: 1045px;
}

div.clear_floats /* clear both floats */
{
	clear: both;
}

input[type="text"], input[type="password"] /* input text fields */
{
	border-style: inset;
}

button /* submit input layout */
{
	font-weight: bold;
}

img.avatar /* avatar picture */
{
	border: thin solid white;
	margin-bottom: 0.2ex;
	margin-right: 0.5ex;
	background-color: black;
	vertical-align: middle;
}

.small_button /* small button */
{
	padding: 0ex 0.5ex 0ex 0.5ex;
	font-size: x-small;
}

input.table_checkbox /* checkbox layout */
{
	border-width: thin;
	border-style: solid;
	padding: 0.7ex;
}

.filters /* filters */
{
	text-align: center;
}

.filters > button /* set distance between filter buttons */
{
	margin-right: 1ex;
}

.online /* highlight player name if he is online */
{
	font-weight: bold;
}

.filters > .filter_active /* highlight filter when active */
{
	background-color: green;
}

button.pushed, a.pushed, a.button:active /* selected button */
{
	border-style: inset;
}

img.icon /* icon image */
{
	vertical-align: middle;
	margin-left: 0.5ex;
}

.p_online,.p_offline,.p_inactive,.p_dead /* player name layout */
{
	font-weight: bold;
}

blockquote > div /* quote text layout */
{
	padding: 1.8em 0.8em 0.8em 0.8em;
	background-image: url('../img/BBCode/quote.gif');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	font-size: small;
	-moz-border-radius: 7px;
}

blockquote > div > cite /* author name layout in quote text */
{
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-left: 2.5ex;
}

*[title] /* display help cursor when additional description is available */
{
	cursor: help;
}
