/*********************************************
 * MArcomage CSS stylesheet - general styles *
 *********************************************/

html {
    font-family: times, serif;
    padding: 0;
    margin: 0;
}

hr {
    border: thin solid;
    /* override defaults */
    padding: 0;
    margin: 0;
}

input, button {
    font-weight: normal;
    font-size: small;
    color: black;
    border: 2px outset black;
    border-radius: 6px;
    padding: 0.4ex 1.2ex 0.4ex 1.2ex;
    vertical-align: middle;
    font-family: arial, sans-serif;
}

/* hyperlink button */
a.button {
    display: inline-block;
    font-size: small;
    font-weight: normal;
    color: black;
    border: 2px outset black;
    border-radius: 6px;
    padding: 0.4ex 1.2ex 0.4ex 1.2ex;
    vertical-align: middle;
    text-decoration: none;
    font-family: arial, sans-serif;
}

/* default color for hyperlink button */
a.button:link, a.button:visited {
    color: black;
}

/* player profile link */
a.profile, a.profile:link, a.profile:visited {
    text-decoration: none;
    color: inherit;
}

/* disabled hyperlink button */
.disabled {
    font-size: large;
    font-weight: normal;
    color: gray;
    border: 2px outset black;
    border-radius: 6px;
    padding: 0.2ex 0.6ex 0.2ex 0.6ex;
    vertical-align: middle;
    font-family: arial, sans-serif;
    display: inline-block;
}

.button-icon, a.button-icon {
    font-size: large;
    padding: 0.2ex 0.6ex 0.2ex 0.6ex;
}

.button-navigation {
    font-size: medium;
}

/* set default properties (do not rely on browser defaults) */
body {
    background-color: transparent;
    font-family: times, serif;
    line-height: normal;
    font-size: medium;
    color: inherit;
}

/* override defaults */
body, p, h5 {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: arial, sans-serif;
    color: red;
    text-align: center;
}

h2, h3 {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: large;
}

h4, h5 {
    font-family: arial, sans-serif;
    line-height: normal;
    font-size: medium;
}

ul {
    padding-left: 0;
    margin-left: 2ex;
}

select {
    font-size: small;
    color: black;
    background-color: #6495ed;
    border: thin solid black;
    vertical-align: middle;
    font-weight: normal;
    /*text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;*/
    font-family: arial, sans-serif;
    padding: 0.3ex 0.5ex 0.3ex 0.5ex;
}

th {
    margin: 0;
    padding: 0;
}

/* text area layout */
textarea {
    font-family: monospace;
    font-weight: normal;
    width: 100%;
    border: 2px inset black;
    border-radius: 6px;
    color: black;
    margin-top: 1ex;
}

/* table cell spacing */
table {
    border-spacing: 0;
    border-collapse: separate;
}

/* table cell padding */
table > tbody > tr > th, table > tbody > tr > td {
    padding: 0;
}

/* default table header styles */
table > tbody > tr > th {
    font-family: arial, sans-serif;
    text-align: center;
}

/* centered table */
table.centered {
    margin-left: auto;
    margin-right: auto;
}

/* centered row */
div.centered, tr.centered > td {
    text-align: center;
}

/* centered row */
td.centered, tr.centered > td > p.flag {
    margin-left: auto;
    margin-right: auto;
}

/* table align top */
tr.align-top, td.align-top {
    vertical-align: top;
}

/* table align bottom */
.align-bottom {
    vertical-align: bottom;
}

/* table align right */
.align-right > div, .align-right > table {
    margin-left: auto
}

/* information message layout */
p.information-line {
    font-family: arial, sans-serif;
    text-align: center;
    line-height: 20px;
}

/* when no information is displayed, display blank line */
p.blank-line {
    margin: 0;
    height: 20px;
}

/* clear both floats */
div.clear-floats {
    clear: both;
}

/* input text fields */
input[type="text"], input[type="password"] {
    border-style: inset;
}

input[type="file"] {
    display: inline-block;
}

/* avatar picture */
img.avatar {
    border: thin solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0.2ex;
    margin-right: 0.5ex;
    background-color: black;
    vertical-align: middle;
}

.bb-code-buttons {
    margin-top: 1ex;
}

/* checkbox layout */
input[type="checkbox"] {
    margin: 3px;
}

input.table-checkbox {
    border: thin solid;
    padding: 0.7ex;
}

fieldset {
    display: block;
    border: 2px groove threedface;
    padding: 1ex 2ex 2ex 2ex;
}

legend {
    display: block;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
    padding: 0 0.5ex 0 0.5ex;
    margin: 0;
    font-size: medium;
    color: inherit;
}

/* card and keyword code */
div.code > pre {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    color: black;
}

/* filters */
.filters {
    text-align: center;
}

/* set distance between filter buttons */
.filters * + button, .filters * + .button, .filters * + .disabled {
    margin-left: 0.5ex;
}

/* highlight filter when active */
.filter-active {
    background-color: green;
}

/* selected button */
button.pushed, a.pushed, a.button:active {
    border-style: inset;
}

/* icon image */
img.icon {
    vertical-align: middle;
    margin-left: 0.5ex;
}

/* quote text layout */
blockquote {
    padding: 0;
    margin-top: 1ex;
    margin-bottom: 1ex;
    margin-left: 2ex;
    font-size: medium;
    border: none;
}

blockquote > div {
    padding: 1.8em 0.8em 0.8em 0.8em;
    background: url('../img/quote.gif') no-repeat 10px 10px;
    font-size: small;
    border-radius: 6px;
}

/* author name layout in quote text */
blockquote > div > cite {
    display: block;
    font-style: normal;
    margin-left: 2.5ex;
}

.container .top-level {
    margin-top: 1ex;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

/* newly unlocked cards during level up message */
.unlocked-cards {
    text-align: center;
}
.unlocked-cards > div {
    display: inline-block;
    vertical-align: top;
}

.icon-player-activity {
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
}

.icon-player-activity.online {
    background: radial-gradient(circle, rgba(0, 255, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.icon-player-activity.offline {
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.icon-player-activity.inactive {
    background: radial-gradient(circle, rgba(128, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.icon-player-activity.dead {
    background: radial-gradient(circle, rgba(128, 128, 128, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

/* JQuery UI close button */
.ui-dialog-titlebar-close {
    background-color: white;
    border-color: grey;
    color: black;
}
.ui-dialog-titlebar-close:before {
    position: relative;
    top: -5px;
    content: 'x';
}

/* fade table row hover effect */
.table-row {
    transition: background-color 400ms;
}

.table-row p {
    transition: color 400ms;
}

/* navigation bar buttons highlight */
.nav-buttons button, .nav-buttons .button {
    transition: background-color 400ms;
}

/* Bootstrap grid default spacing */
.container, .container .row > div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
.container .row {
    margin-left: 0;
    margin-right: 0;
}

/* responsive table */
div.responsive-table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5ex;
    margin-bottom: 1ex;
}

/* responsive table header */
div.responsive-table > div.row:first-child {
    font-family: arial, sans-serif;
    text-align: center;
}

/* breakpoint specific layout */
@media screen and (max-width: 767px) {
    /* separate list items visually */
    div.responsive-table.table-sm > div.row + div.row {
        border-top: thin solid rgba(0, 0, 0, 0.3);
    }

    /* hide responsive table header */
    div.responsive-table.table-sm > div.row:first-child > div[class*='col-'] > * {
        display: none;
    }

    /* show only sortable column names */
    div.responsive-table.table-sm > div.row:first-child > div[class*='col-'] > p.sortable {
        display: block;
    }
}

/* breakpoint specific layout */
@media screen and (max-width: 991px) {
    /* separate list items visually */
    div.responsive-table.table-md > div.row + div.row {
        border-top: thin solid rgba(0, 0, 0, 0.3);
    }

    /* hide responsive table header */
    div.responsive-table.table-md > div.row:first-child > div[class*='col-'] > * {
        display: none;
    }

    /* show only sortable column names */
    div.responsive-table.table-md > div.row:first-child > div[class*='col-'] > p.sortable {
        display: block;
    }
}

/* cell spacing */
div.responsive-table > div > div > p {
    margin: 1ex;
}

/* clickable row */
div.responsive-table .row.details {
    cursor: pointer;
}

/* modal screen center display */
div[role="dialog"].modal .vertical-alignment-helper {
   display: table;
   height: 100%;
   width: 100%;
   pointer-events: none;
}

div[role="dialog"].modal .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

div[role="dialog"].modal .modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

/* general modal layout */
div[role="dialog"].modal .modal-dialog {
    text-align: center;
    color: black;
}

div[role="dialog"].modal .modal-dialog .modal-title {
    font-family: arial, sans-serif;
    text-align: left;
}

div[role="dialog"].modal .modal-dialog .modal-footer {
    text-align: center;
}

#error-message .modal-dialog .modal-body p {
    color: red;
}

div[role="dialog"].modal button[name="close-modal"] {
    background-color: transparent;
    border-style: none;
    float: right;
}
