/*******************************************
 * MArcomage CSS stylesheet - help section *
 *******************************************/

/* section layout */
div#help {
    margin-bottom: 1ex;
}

/* menu part of help section */
aside#help-menu {
    margin-bottom: 1ex;
}

/* menu layout */
aside#help-menu ul {
    font-family: arial, sans-serif;
    list-style-type: none;
}

/* set distance between list items */
aside#help-menu > ul > li {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

/* menu button layout */
aside#help-menu > ul a.button {
    padding: 0.1ex 0.9ex 0.1ex 0.9ex;
    margin-right: 3ex;
    margin-bottom: 0.5ex;
}

/* content part of help section */
div#content {
    text-align: justify;
    padding: 1ex 5ex 2ex 5ex;
    line-height: 3.5ex;
    min-height: 420px;
    margin-bottom: 1ex;
}

/* text content */
div#content > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

/* icon image */
div#content .icon-image {
    margin: 0 0.5ex 0 0;
}

/* table layout */
div#content table {
    text-align: center;
    margin-top: 2ex;
    margin-bottom: 2ex;
}

/* image bordering */
div#content > div > p > img, div#content > div > p > a > img {
    margin: 1ex;
    border: thin solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}

/* set distance between paragraphs */
div#content > div > p + p {
    margin-top: 2ex;
}
