/********************************************
 * MArcomage CSS stylesheet - intro section *
 ********************************************/

div#intro-dialog {
    display: none;
}

/* tutorial heading */
div#intro-dialog > h3 {
    text-align: center;
    margin-top: 0;
    font-size: large;
}

/* tutorial text */
div#intro-dialog > p {
    text-align: justify;
    font-size: large;
}
