/********************************************
 * MArcomage CSS stylesheet - intro section *
 ********************************************/

div#intro_dialog > h3 /* tutorial heading */
{
	text-align: center;
	margin-top: 0ex;
	font-size: large;
}

div#intro_dialog > p /* tutorial text */
{
	text-align: justify;
	font-size: large;
}
