/**********************************************
 * MArcomage CSS stylesheet - levelup section *
 **********************************************/

div#level-up-dialog {
    display: none;
}

/* override default dialog font for card */
div#level-up-dialog div.card {
    font-family: times, serif;
}

/* tutorial heading */
div#level-up-dialog > h3 {
    text-align: center;
    margin-top: 0;
    font-size: large;
}

/* tutorial text */
div#level-up-dialog > p {
    text-align: justify;
    font-size: large;
}
