/**********************************************
 * MArcomage CSS stylesheet - levelup section *
 **********************************************/
 
div#levelup_dialog div.karta /* override default dialog font for card */
{
	font-family: times, serif;
}

div#levelup_dialog > h3 /* tutorial heading */
{
	text-align: center;
	margin-top: 0ex;
	font-size: large;
}

div#levelup_dialog > p /* tutorial text */
{
	text-align: justify;
	font-size: large;
}
