/********************************************
 * MArcomage CSS stylesheet - login section *
 ********************************************/

/* login box layout */
div#login-box {
    padding: 1ex;
    text-align: center;
}

div#login-box > .row + .row {
    margin-top: 1ex;
}

/* game title */
div#login-box h1 {
    font-size: xx-large;
    margin: 1ex 0 0 0;
    text-align: center;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}

/* game subtitle */
div#login-box h2 {
    font-size: large;
    text-align: center;
    margin: 1ex 0;
}

/* social links */
#social-links {
    margin-top: 0.5ex;
}

/* override default border style */
#social-links img {
    border-style: none;
}

/* social links layout */
#social-links a {
    text-decoration: none;
}
#social-links a + a {
    margin-left: 0.5ex;
}

/* login inputs align */
div#login-inputs img {
    vertical-align: middle;
}

/* login inputs layout */
div#login-inputs > div > * {
    margin-top: 0.5ex;
}

/* login message layout */
p#login-message {
    margin-top: 1ex;
    min-height: 1em;
}

/* hyperlink buttons in sections menu */
nav#sections > * + * {
    margin-left: 1ex;
}
nav#sections > * {
    margin-top: 0.5ex;
}
