/********************************************
 * MArcomage CSS stylesheet - login section *
 ********************************************/

div#login_box /* login box layout */
{
	padding: 1ex;
	margin: 1ex 1ex 1ex 1ex;
	/*min-width: 120ex;*/
	min-width: 1045px;
}

div#login_box h1 /* game title */
{
	font-size: xx-large;
	margin: 0.5ex 0ex 0ex 0ex;
	text-align: center;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}

div#login_box h2 /* game subtitle */
{
	font-size: large;
	text-align: center;
	margin: 0ex;
}

span#social_links /* social links */
{
	float: right;
}

span#social_links img /* override default border style */
{
	border-style: none;
}

span#social_links a /* social links layout */
{
  text-decoration: none;
}

div#login_area /* login area layout */
{
	float: left;
  text-align: left;
}

div#login_inputs > * + * /* login inputs layout */
{
	margin-left: 1ex;
}

p#login_message /* login message layout */
{
  margin-top: 1ex;
	font-weight: bold;
	min-height: 1em;
}

div#sections > a.button /* hyperlink buttons in sections menu */
{
	margin-left: 2ex;
}
