/***************************************************
 * MArcomage CSS stylesheet - upper navigation bar *
 ***************************************************/

/* upper navigation bar containing section access buttons */
div#menu-bar {
    text-align: center;
    padding-top: 0.5ex;
}

/* upper navigation bar buttons */
div#menu-bar .button-icon {
    margin-top: 0.5ex;
}

/* menu spacing */
nav.menu-center > * {
    margin-top: 0.5ex;
}

/* set distance between buttons in center part of menu bar */
nav.menu-center > a.button + a.button, .menu-center > button {
    margin-left: 0.5ex;
}

/* set distance for images that appear in the menu bar */
div#menu-bar .navbar-notifications a + a {
    margin-left: 0.5ex;
}

/* one part is floated to the left */
div#menu-player-info {
    margin-top: 0.5ex;
    display: inline-block;
}

/* set the distance from the left border of the screen for player name */
div#menu-player-info > div {
    margin-left: 1ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
}

/* profile link */
div#menu-player-info > div > a {
    text-decoration: none;
}

/* exp progress bar */
div#menu-player-info div.exp-progress-bar {
    margin-top: 0.5ex;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
    width: 100px;
}

/* exp progress bar - inner part */
div#menu-player-info div.exp-progress-bar > div {
    height: 2ex;
    background-color: green;
}
