/***************************************************
 * MArcomage CSS stylesheet - upper navigation bar *
 ***************************************************/

div#menubar /* upper navigation bar containing section access buttons */
{
	text-align: center;
	/*min-width: 120ex;*/
	min-width: 1045px;
	padding: 1ex 0ex 1.5ex 0ex;
}

div#menu_float_right /* one part is floated to the right */
{
	float: right;
	text-align: right;
}

div#menu_float_right > button /* floated section contains refresh button */
{
	margin-right: 2ex;
}

div#menu_center > a.button + a.button /* set distance between buttons in center part of menubar */
{
	margin-left: 2ex;
}

div#menu_center > img /* set distance for images that appear in the menubar */
{
	margin-right: 1.7ex;
	vertical-align: middle;
}

div#menubar + hr /* horizontal line that is separating the menubar from the rest of the content */
{
	/*min-width: 120ex;*/
	min-width: 1045px;
}

div#menu_float_left /* one part is floated to the left */
{
	float: left;
	text-align: left;
}

div#menu_float_left > p /* set the distance from the left border of the screen for player name */
{
	margin-left: 1ex;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
	font-weight: bold;
}

div#menu_float_left > p > a /* profile link */
{
	text-decoration: none;
}
