/***********************************************
 * MArcomage CSS stylesheet - messages section *
 ***********************************************/

/* begin challenges */

div#message_section /* challenge section (soon to be renamed to messages) */
{
	min-width: 1045px;
	text-align: center;
}

div#challenges /* challenges oriented messages subsection */
{
	float: left;
	width: 48%;
	margin: 0ex 0ex 1ex 1ex;
}

div#challenges > p /* challenge message */
{
	font-size: medium;
	margin-bottom: 1ex;
	margin-right: auto;
	margin-left: auto;
}

div#challenges > p > input, div#challenges > p > select /* distance between button end select elements */
{
	margin-left: 2ex;
}

/* end challenges */

/* begin messages */

div#messages /* private messages subsection */
{
	float: right;
	width: 49%;
	margin: 0ex 1ex 1ex 0ex;
}

div#messages th > p, div#messages td > p /* table cell text */
{
	margin: 0.5ex 1ex 0.5ex 1ex;
}

div#messages > table /* private messages table */
{
	margin: 0ex 1ex 2ex 2ex;
	max-width: 32em;
}

/* end messages */

/* begin message details */

div#mes_details /* private message details subsection */
{
	min-width: 1045px;
}

div#mes_details > div /* private message layout */
{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	font-weight: bold;
	padding: 1ex;
}

div#mes_details > div > * /* set distance between elements */
{
	margin-bottom: 1ex;
	margin-top: 1ex;
}

div#mes_details > div > p /* justifiy private message text */
{
	text-align: justify;
}

div#mes_details > div > p > span /* highlight private message information (author, recipient...) */
{
	color: green;
	margin-right: 1ex;
}

img.stamp_picture /* MArcopost stamp picture */
{
	float: right;
}

div.challenge_box > div /* challenge layout */
{
	padding: 1ex;
	margin: 1ex;
}

div.challenge_box > div > p + p /* set distance between elements within a challenge */
{
	margin-top: 1ex;
}

div.challenge_box > div > p > span /* highlight important information in a challenge */
{
	font-weight: bold;
}

p.challenge_content /* challenge text layout */
{
	font-style: italic;
	text-align: justify;
	margin-left: 2ex;
	margin-right: 2ex;
}

/* end message details */
