/***********************************************
 * MArcomage CSS stylesheet - messages section *
 ***********************************************/

/* begin challenges */

/* challenge section (soon to be renamed to messages) */
div#message_section {
    text-align: center;
}

/* challenges oriented messages subsection */
div#challenges {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* challenge message */
div#challenges > p {
    font-size: medium;
    margin-bottom: 1ex;
    margin-right: auto;
    margin-left: auto;
}

/* distance between buttons */
div#challenges > p > a.button + a.button {
    margin-left: 1ex;
}

/* end challenges */

/* begin messages */

/* private messages subsection */
div#messages {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-right: 1ex;
    padding-left: 1ex;
}

/* distance between buttons */
div#messages > p > a.button + a.button {
    margin-left: 1ex;
}

/* table cell text */
div#messages th > p, div#messages td > p {
    margin: 0.5ex 1ex 0.5ex 1ex;
}

/* private messages table */
div#messages > table {
    margin: 0 auto 2ex auto;
    max-width: 32em;
}

/* filters and navigation */
div#messages .filters {
    margin: 0.5ex 0 0.5ex 2ex;
}

/* end messages */

/* begin message details */

/* private message details subsection */

/* private message layout */
div.mes_details > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 50em;
    padding: 1ex;
}

/* set distance between elements */
div.mes_details > div > * {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

/* justify private message text */
div.mes_details > div > p {
    text-align: justify;
}

/* highlight private message information (author, recipient...) */
div.mes_details > div > p > span {
    color: green;
    margin-right: 1ex;
}

/* MArcopost stamp picture */
img.stamp_picture {
    float: right;
}

/* challenge layout */
div.challenge_box > div {
    padding: 1ex;
    margin: 1ex;
}

/* set distance between elements within a challenge */
div.challenge_box > div > p + p {
    margin-top: 1ex;
}

/* challenge text layout */
div.challenge_content {
    font-style: italic;
    text-align: justify;
    margin-left: 2ex;
    margin-right: 2ex;
}

/* end message details */
