/*********************************************
 * MArcomage CSS stylesheet - novels section *
 *********************************************/

/* menu part of novels section */
aside#novels-menu {
    margin-bottom: 1ex;
}

/* menu layout */
aside#novels-menu ul {
    list-style-type: none;
}

/* set distance between list items */
aside#novels-menu > ul > li {
    margin-bottom: 2ex;
    margin-top: 2ex;
}

/* menu button layout */
aside#novels-menu > ul a.button {
    margin-right: 1ex;
}

/* second level menu layout */
aside#novels-menu > ul ul > li {
    margin-bottom: 1ex;
    margin-top: 1ex;
    font-size: medium;
    font-style: normal;
}

/* content part of novels section */
div#novels-content {
    text-align: justify;
    padding: 1ex 5ex 2ex 5ex;
    line-height: 3.5ex;
    min-height: 420px;
    margin-bottom: 1ex;
}

/* text content */
div#novels-content > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

/* top and bottom navigation bar */
div.navigation {
    text-align: center;
    margin-top: 2ex;
    margin-bottom: 2ex;
}

/* "previous" button layout in the navigation bar */
.previous {
    float: left;
}

/* "next" button layout in the navigation bar */
.next {
    float: right;
}

/* heading layout in novels content */
div#novels h4 {
    text-align: center;
}

/* heading layout in novels content */
div#novels h5 {
    text-align: center;
    font-size: large;
}
