/*********************************************
 * MArcomage CSS stylesheet - novels section *
 *********************************************/

div#novels /* novels layout */
{
	text-align: left;
	min-width: 1045px;
	margin-bottom: 1ex;
	margin-right: 1ex;
}

div#nov_float_left /* menu part of novels section */
{
	float: left;
	width: 20%;
	margin-left: 1ex;
	margin-bottom: 1ex;
}

div#nov_float_left ul /* menu layout */
{
	list-style-type: none;
}

div#nov_float_left > ul > li /* set distance between list items */
{
	margin-bottom: 2ex;
	margin-top: 2ex;
}

div#nov_float_left > ul a.button /* menu button layout */
{
	padding: 0.1ex 0.9ex 0.1ex 0.9ex;
	margin-right: 3ex;
	margin-bottom: 0.5ex;
}

div#nov_float_left > ul ul > li /* second level menu layout */
{
	margin-bottom: 1ex;
	margin-top: 1ex;
	font-size: medium;
	font-style: normal;
}

div#nov_float_right /* content part of novels section */
{
	float: right;
	width: 70%;
	text-align: justify;
	padding: 1ex 5ex 2ex 5ex;
	line-height: 3.5ex;
	min-height: 420px;
	margin-bottom: 1ex;
}

div#nov_float_right /* text content */
{
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
}

div.navigation /* top and bottom navigation bar */
{
	text-align: center;
	margin-top: 2ex;
	margin-bottom: 2ex;
}

.previous /* "previous" button layout in the navigation bar */
{
	float: left;
}

.next /* "next" button layout in the navigation bar */
{
	float: right;
}

div#novels h4 /* heading layout in novels content */
{
	text-align: center;
}

div#novels h5 /* heading layout in novels content */
{
	text-align: center;
	font-size: large;
}
