/**********************************************
 * MArcomage CSS stylesheet - players section *
 **********************************************/
 
/* begin playerslist */


div#players > table /* players table */
{
	padding: 1ex;
}

div#players p /* players table row layout */
{
	margin: 0ex 1ex 0ex 1ex;
}

div#players th input /* set distance for ordering buttons from header texts in the table header */
{
	margin-left: 1ex;
}

/* end playerslist */

/* begin user details */

div#details /* set minimum width to whole section (grants immunity to resize) */
{
	min-width: 1045px;
}

div#details > div /* user details content layout */
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-weight: bold;
	padding: 0ex 1ex 1ex 1ex;
	margin-bottom: 1ex;
}

div#details /* set distance between separate lines */
{
	line-height: 1.6;
}

div#details h3 /* section name layout */
{
	margin: 0ex;
}

div#details input[type="checkbox"] /* checkbox layout */
{
	padding: 0.5ex;
	margin: 0ex 2ex 0ex 0ex;
	border-style: solid;
	border-width: thin;
}

div.details_float_right /* float both avatar and zodiac to the right */
{
	float: right;
	text-align: center;
}

div.details_float_right img /* avatar and zodiac pictures */
{
	background-color: black;
	padding: 0.5ex;
	margin: 0.5ex 1ex 0.5ex 1ex;
	border: medium ridge white;
}

div#details * + h4 /* special messages formatting */
{
	margin-top: 5ex;
	margin-bottom: 2ex;
}

div#details select /* special messages formatting */
{
	margin-left: 2ex;
}

.challenge_text /* challenge text input and display layout */
{
	margin-top: 1ex;
	margin-bottom: 1ex;
}

/* end user details */
