/**********************************************
 * MArcomage CSS stylesheet - players section *
 **********************************************/
 
/* begin playerslist */


div#players > table /* players table */
{
	padding: 1ex;
}

div#players > table p /* players table row layout */
{
	margin: 0ex 1ex 0ex 1ex;
}

div#players th input /* set distance for ordering buttons from header texts in the table header */
{
	margin-left: 1ex;
}

div.progress_bar /* exp progress bar */
{
	border: thin solid black;
	margin: 0ex 1ex 0ex 1ex;
	text-align: left;
	width: 50px;
}

div.progress_bar > div  /* exp progress bar - inner part */
{
	height: 1.5ex;
	background-color: green;
}

/* end playerslist */

/* begin user details */

div#details /* set minimum width to whole section (grants immunity to resize) */
{
	min-width: 1045px;
	line-height: 1.6;
}

div#details > div.skin_text /* user details content layout */
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 0ex 1ex 1ex 1ex;
	margin-bottom: 1ex;
}

div#details > div.skin_text .detail_value /* player data values */
{
	font-weight: bold;
}

div#details h3 /* section name layout */
{
	margin: 0ex;
}

div#details input[type="checkbox"] /* checkbox layout */
{
	padding: 0.5ex;
	margin: 0ex 2ex 0ex 0ex;
	border-style: solid;
	border-width: thin;
}

div.details_float_right /* float both avatar and zodiac to the right */
{
	float: right;
	text-align: center;
	font-weight: bold;
}

div.details_float_right img /* avatar and zodiac pictures */
{
	background-color: black;
	padding: 0.5ex;
	margin: 0.5ex 1ex 0.5ex 1ex;
	border: medium ridge white;
}

div.statistics /* versus statistics layout */
{
	clear: right;
	float: right;
	width: 12em;
	margin: 1ex;
	border: medium ridge white;
	padding: 0ex 1ex 1ex 1ex;
	line-height: 1.3;
}

div.statistics > p > span /* float values to the right */
{
	float: right;
	font-weight: bold;
}

div.statistics > h4 /* versus statistics heading */
{
	margin: 0ex;
}

.challenge_text /* challenge text input and display layout */
{
	margin-top: 1ex;
	margin-bottom: 1ex;
}

/* end user details */
