/***************************************************
 * MArcomage CSS stylesheet - registration section *
 ***************************************************/

div#registration /* registration layout */
{
	text-align: center;
	padding: 2ex 0ex 2ex 0ex;
	padding-top: 10ex;
}

div#registration div > button + button /* set distance between inputs in the registration */
{
	margin-left: 3ex;
}

div#registration > * + * /* set distance between any two neighbouring elements in the registration */
{
	margin-top: 0.5ex;
}

div#registration > h3 /* registration title */
{
	font-size: x-large;
}

div#registration > p /* registration text */
{
	color: black;
	font-size: large;
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

div#registration > div > input, div#registration > div > button /* registration inputs */
{
	font-size: medium;
}
