/***************************************************
 * MArcomage CSS stylesheet - registration section *
 ***************************************************/

/* registration layout */
div#registration {
    text-align: center;
    padding: 5ex 0 5ex 0;
}

/* set distance between inputs in the registration */
div#registration div > button + button {
    margin-left: 3ex;
}

/* set distance between any two neighbouring elements in the registration */
div#registration > * + * {
    margin-top: 0.5ex;
}

/* registration title */
div#registration > h3 {
    font-size: x-large;
}

/* registration text */
div#registration > p {
    /*color: black;*/
    font-size: large;
    font-family: arial, sans-serif;
    /*text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white;*/
}

/* registration inputs */
div#registration > div > input, div#registration > div > button {
    font-size: medium;
    margin-top: 0.5ex;
}

/* CAPTCHA layout */
div.g-recaptcha {
    display: inline-block;
    transform: scale(0.8);
    transform-origin: 50% 50%;
}
