/***********************************************
 * MArcomage CSS stylesheet - settings section *
 ***********************************************/

/* settings layout */
div#profile-settings, div#account-settings {
    padding: 0 2ex 1ex 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

/* avatar and zodiac sign pictures */
div#profile-settings img.zodiac-sign, div#profile-settings img.avatar-preview {
    background-color: black;
    padding: 0.5ex;
    margin: 0.5ex 1ex 0 1ex;
    border: thin solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}
div#profile-settings img.zodiac-sign {
    margin: 0.5ex 1ex 0.5ex 1ex;
}

/* avatar and zodiac sign are floated to the right */
div#profile-settings h3 + div, div#profile-settings h3 + div + div {
    float: right;
    text-align: center;
}

/* avatar and zodiac sign header text */
div#settings h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* settings header layout */
div#settings > div > h4 {
    margin: 1ex 0 1ex 0;
}

div#settings hr {
    margin-top: 2ex;
    margin-bottom: 1ex;
}

/* line spacing */
div#profile-settings > p, div#account-settings > div > p {
    margin-top: 0.8ex;
    margin-bottom: 0.8ex;
}

/* set distance of inputs from the text */
div#settings input {
    margin-right: 1ex;
}

/* set distance of selects from other elements */
div#settings select {
    margin-right: 1ex;
}

/* checkbox layout */
div#settings input[type="checkbox"] {
    padding: 0.5ex;
    margin: 0 2ex 0 0;
    border: thin solid;
}

/* checkbox description layout */
div#settings input[type="checkbox"] + span {
    vertical-align: middle;
}

/* radio button */
div#settings input[type="radio"] {
    padding: 1ex;
    border: thin solid;
    margin: 0 1ex 0 0;
}

div#settings .wallet {
    margin-right: 1ex;
}

div#settings .shop-item + .shop-item {
    margin-top: 2ex;
}

div#settings .shop-item > p {
    margin-top: 0.8ex;
    margin-bottom: 0.8ex;
}

/* background image preview */
div#preview {
    float: right;
    text-align: center;
    margin-right: 5ex;
    margin-top: 1ex;
}

/* background image preview - image layout */
div#preview > img {
    margin-top: 0.5ex;
    border: thin solid rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}
