/*************************************************
 * MArcomage CSS stylesheet - statistics section *
 *************************************************/

/* set distance between separate lines */
div#statistics p {
    margin-top: 0.5ex;
}

/* column heading */
div#statistics h4 {
    margin-top: 1ex;
    margin-bottom: 1ex;
    text-align: center;
}

/* statistics info heading */
div#statistics h5 {
    margin-top: 1ex;
    margin-bottom: 1ex;
    text-align: center;
    font-size: medium;
}

/* statistic group (subsection) layout */
div#statistics div.skin-text {
    padding-left: 1ex;
    padding-right: 1ex;
    padding-bottom: 1ex;
    font-family: arial, sans-serif;

}

/* data list layout */
div#statistics div.skin-text > ol {
    padding-left: 3ex;
    margin: 0;
}

/* data list item highlight */
div#statistics div.skin-text > ol > li, div#statistics div.skin-text > p {
    padding: 0.5ex;
    transition: background-color 400ms;
}

/* data list item highlight */
div#statistics div.skin-text > ol > li:hover, div#statistics div.skin-text > p:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* data list spacing */
div#statistics div.skin-text > ol > li + li {
    margin-top: 0.5ex;
}

/* data list values */
div#statistics div.skin-text > ol > li > span, div#statistics div.skin-text > p > span {
    float: right;
}

/* subsection navigation */
div#statistics div.filters {
    text-align: center;
    margin-top: 1ex;
}
