/***********************************************
 * MArcomage CSS stylesheet - tutorial section *
 ***********************************************/

div#tutorial_dialog_start > h3, div#tutorial_dialog_finish > h3, div#tutorial_dialog_standard > h3 /* tutorial heading */
{
	text-align: center;
	margin-top: 0ex;
	margin-bottom: 0ex;
	font-size: medium;
}

div#tutorial_dialog_start > p, div#tutorial_dialog_finish > p, div#tutorial_dialog_standard > p /* tutorial text */
{
	text-align: justify;
	margin-top: 1ex;
	margin-bottom: 1ex;
	font-size: medium;
}
