/**********************************************
 * MArcomage CSS stylesheet - web page section *
 **********************************************/

/* begin web page */

/* prevents resize errors */
div#web-page {
    margin-bottom: 1ex;
}

/* image bordering */
div#web-page-content > div > p > img, div#web-page-content > div > p > a > img {
    margin: 1ex;
    border: medium solid white;
    border-radius: 7px;
}

/* menu part of web page section */
aside#web-page-menu {
    text-align: center;
    margin-bottom: 1ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
}

/* inner part of the menu */
aside#web-page-menu > a {
    display: inline-block;
}
aside#web-page-menu > a + a {
    margin-left: 1ex;
}

/* content part of web page section */
div#web-page-content {
    text-align: justify;
    padding-left: 2ex;
    padding-right: 2ex;
}

/* web page content layout */
div#web-page-content > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

/* set distance of the horizontal line from the upper and lower part of the content */
div#web-page-content hr {
    margin: 1ex 0 1ex 0;
}

/* set distance between paragraphs */
div#web-page-content > div > p + p {
    margin-top: 2ex;
}

/* heading layout in the modified cards section */
div.date-time + h3 + div h3 {
    text-align: left;
}

/* date-time info layout */
div.date-time {
    text-align: center;
}

/* highlighted text */
div#web-page li > span {
    color: green;
}

/* end webpage */
