/**********************************************
 * MArcomage CSS stylesheet - webpage section *
 **********************************************/

/* begin webpage */

div#webpage /* prevents resize errors */
{
	min-width: 1045px;
	margin-bottom: 1ex;
}

div#webpg_float_right > div > p > img, div#webpg_float_right > div > p > a > img /* image bordering */
{
	margin: 1ex;
	border: medium solid white;
	-moz-border-radius: 7px;
}

div#webpg_float_left /* menu part of wepage section */
{
	float: left;
	width: 12%;
}

div#webpg_float_left > div /* inner part of the menu */
{
	text-align: center;
	margin: 0ex 0ex 1ex 1ex;
}

div#webpg_float_left p:first-child /* set distance of the first button from the upper border */
{
	margin-top: 7ex;
}

div#webpg_float_left div:first-child > p /* set distance between buttons in the menu */
{
	margin-bottom: 6ex;
}

div#webpg_float_right /* content part of wepage section */
{
	float: right;
	width: 86%;
	text-align: justify;
	margin-right: 1ex;
}

div#webpg_float_right > div /* webpage content layout */
{
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
}

div#webpg_float_right hr /* set distance of the horizontal line from the upper and lower part of the content */
{
	margin: 1ex 0ex 1ex 0ex;
}

div#webpg_float_right > div > p + p /* set distance between paragraphs */
{
	margin-top: 2ex;
}

div.date_time + h3 + div h3 /* heading layout in the modified cards section */
{
	text-align: left;
}

div.date_time /* date-time info layout */
{
	text-align: center;
}

div#webpage li > span /* highlighted text */
{
	color: green;
}

div#webpg_float_right table /* table layout */
{
	text-align: center;
	margin-top: 2ex;
	margin-bottom: 2ex;
}

/* end webpage */

/* begin login menu */

div#login_box /* login box layout */
{
	padding: 1ex;
	margin: 1ex 1ex 1ex 1ex;
	/*min-width: 120ex;*/
	min-width: 1045px;
	min-height: 100px; /* prevent interface jumps when there is no login message */
}

div#login_box h1 /* game title */
{
	font-size: xx-large;
	margin: 1ex 0ex 0ex 0ex;
	text-align: center;
	text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}

div#login_box h2 /* game subtitle */
{
	font-size: large;
	text-align: center;
	margin: 1ex 0ex 0ex 0ex;
}

div#login_inputs /* login inputs layout */
{
	float: left;
	text-align: left;
	margin-left: 1ex;
}

div#login_inputs > p > input[type="submit"] /* login box spacing */
{
	margin-top: 1ex;
}

div#login_inputs > p > input + input /* register button layout */
{
	float: right;
}

div#login_inputs > p > img /* login box image align */
{
	vertical-align: middle;
}

div#login_message /* login message layout */
{
	text-align: left;
	margin-left: 1ex;
	font-weight: bold;
}

/* end login menu */

/* begin registration */

div#registration /* registration layout */
{
	text-align: center;
	padding: 2ex 0ex 2ex 0ex;
	padding-top: 10ex;
}

div#registration div > input + input /* set distance between inputs in the registration */
{
	margin-left: 3ex;
}

div#registration > * + * /* set distance between any two neighbouring elements in the registration */
{
	margin-top: 0.5ex;
}

div#registration > h3 /* registration title */
{
	font-size: large;
}

/* end registration */
